/* Text colors */

.white {
  color: $white;
}

.grey-light {
  color: $grey-light;
}

.grey {
  color: $grey;
}

.grey-hover:hover {
  color: $grey;
}

.grey-dark {
  color: $grey-dark;
}

.light-blue {
  color: $light-blue;
}

.black-light {
  color: $black-light;
}

/* Backgrounds */

.bg-white {
  background-color: $white;
}

.bg-white-dirty {
  background-color: $white-dirty;
}

.bg-black-light {
  background-color: $black-light;
}

.bg-black-light {
  color: $black-light;
}

.bg-grey-light {
  background-color: $grey-light;
}

.bg-grey-light-hover:hover {
  background-color: $grey-light;
}

.bg-grey-hover:hover {
  background-color: $grey;
}


.bg-si-green-cyan {
  background: linear-gradient(135deg, $si-green-dark 0%, $si-cyan 100%);
}

/* Borders */

.border-hr-red-blue {
  border: 3px solid transparent;
  border-image: linear-gradient(to right, $hr-red 0%, $hr-blue-dark 100%);
  border-image-slice: 1;
}

.border-ba-blue-yellow {
  border: 3px solid transparent;
  border-image: linear-gradient(to right, $ba-blue 0%, $ba-yellow-dark 100%);
  border-image-slice: 1;
}
