// Country page banner background image

body.country-al #country-banner { background-image: url('/static/images/podaci-TBA-Albania.jpg'); }
body.country-ba #country-banner { background-image: url('/static/images/Livanjsko-polje-(c)-Andrija-Vrdoljak-BIH.jpg'); }
body.country-hr #country-banner { background-image: url('/static/images/Lastovo-lanterna-Struga-(c)-Park-prirode-Lastovsko-otocje-Croatia.jpg'); }
body.country-xk #country-banner { background-image: url('/static/images/Sharri-National-Park(c)Sharri-National-Park-Kosovo.jpg'); }
body.country-ma #country-banner { background-image: url('/static/images/Golemo-Ezero-(c)-Goran-Stefanovski-Macedonia.jpg'); }
body.country-me #country-banner { background-image: url('/static/images/Biogradska-gora(c)JPNPCG-Montenegro.jpg'); }
body.country-rs #country-banner { background-image: url('/static/images/Gornje-Podunavlje-(c)Vojvodinasume-Serbia.jpg'); }
body.country-si #country-banner { background-image: url('/static/images/Logarska-dolina(c)Grega-Zorz-Slovenia.jpg'); }

// Country page CTA background image

body.country-al #country-cta { background-image: url('/static/images/Albania_CTA_image@2x.png'); }
body.country-ba #country-cta { background-image: url('/static/images/Bosnia_CTA_image@2x.png'); }
body.country-hr #country-cta { background-image: url('/static/images/Croatia_CTA_image.png'); }
body.country-xk #country-cta { background-image: url('/static/images/Kosovo_CTA_image@2x.png'); }
body.country-ma #country-cta { background-image: url('/static/images/Macednia_CTA_image@2x.png'); }
body.country-me #country-cta { background-image: url('/static/images/Montenegro_CTA_image@2x.png'); }
body.country-rs #country-cta { background-image: url('/static/images/Serbia_CTA_image@2x.png'); }
body.country-si #country-cta { background-image: url('/static/images/Slovenia_CTA_image@2x.png'); }
