$global-header-height: 70px;
$mobile-header-height: 50px;

.global-header {
	height: $global-header-height;
	z-index: 99;
  background-color: $white;

  .brand-logo {
	  position: absolute;
	  top: -0.3em;
	  left: 2rem;
	  width: 6rem;
  }

  .main-nav > ul > li > a {
    height: $global-header-height;
  }

  .nav-dropdown {
    button {
      height: $global-header-height;
    }
    &:hover .nav-dropdown-options {
      display: block;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .global-header {
    height: $mobile-header-height;

    .brand-logo {
      width: 4rem;
    }

    .nav-dropdown {
      button {
        height: $mobile-header-height;
      }
    }
  }
}
