$global-header-height: 60px;
$mobile-header-height: 50px;

.page {
  padding-top: $global-header-height;
}

.global-header {
	height: $global-header-height;
	z-index: 99;
  background-color: $white;

  .brand-logo {
	  position: absolute;
	  top: -0.3em;
	  left: 2rem;
	  width: 6rem;
  }

  button, .main-nav > ul > li > a {
    height: $global-header-height;
  }

  .nav-dropdown:hover .nav-dropdown-options {
    display: block;
  }

  .link {
    color: $grey-dark;
    &:hover {
      background-color: $grey-light;
    }

    &.active {
        border-bottom: 3px solid $grey;
    }
  }
  .link-invert {
    color: $grey;
    background-color: $grey-light;

    &:hover, &.active {
      color: $grey-dark;
    }
  }
}

body.wwf-examples .global-header .link.active { border-color: $hr-red; }
body.sustainable-business .global-header .link.active { border-color: $xk-orange; }
body.recommendations .global-header .link.active { border-color: $al-yellow; }
body.protected-areas .global-header .link.active { border-color: $hr-blue; }

@media (max-width: $breakpoint-sm) {
  .page {
    padding-top: $mobile-header-height;
  }

  .global-header {
    height: $mobile-header-height;

    .brand-logo {
      width: 4rem;
    }

    .nav-dropdown {
      button {
        height: $mobile-header-height;
      }
    }
  }
}

/* Country specific coloring */

body.country-hr {
  .global-header {
    background-color: $hr-blue;

    .link {
      color: $white;
      &:hover {
        background-color: $hr-blue-dark;
      }
    }
    .link-invert {
      color: $grey-light;
      background-color: $hr-blue-dark;

      &:hover, &.active {
        color: $white;
      }
    }
  }
}

body.country-ba {
  .global-header {
    background-color: $ba-yellow;

    .link {
      color: $white;
      &:hover {
        background-color: $ba-yellow-dark;
      }
    }
    .link-invert {
      color: $grey-light;
      background-color: $ba-yellow-dark;

      &:hover, &.active {
        color: $white;
      }
    }
  }
}
