section.countries-map {
	  background: linear-gradient(0deg, #48C6EF 0%, #6F86D6 100%);
	  overflow: hidden;
	  z-index: 75;
}

.map-wrapper {
	  position: relative;
	  width: 100%;
	  height: calc(100vh - 100px);

	  .big-map {
		    position: absolute;
		    top: 0;
		    overflow: visible;
	  }

	  .big-map-desc {
		    position: absolute;
		    top: 20%;
		    left: 10%;
		    width: 30%;
	  }

	  svg {
		    transition: transform 500ms;

		    .country {
			      transition: opacity 500ms;
			      cursor: pointer;

			      &:hover {
				        opacity: 0.5;
			      }

			      path { stroke: white; }
		    }

		    .albania    path { fill: url(#al); }
		    .bosnia     path { fill: url(#ba); }
		    .croatia    path { fill: url(#hr); }
		    .kosovo     path { fill: url(#xk); }
		    .macedonia  path { fill: url(#mk); }
		    .montenegro path { fill: url(#me); }
		    .serbia     path { fill: url(#rs); }
		    .slovenia   path { fill: url(#si); }
	  }
}
