@font-face {
	font-family: 'icomoon';
	src:  url('/static/fonts/icomoon.eot?j95jjv');
	src:  url('/static/fonts/icomoon.eot?j95jjv#iefix') format('embedded-opentype'),
	url('/static/fonts/icomoon.ttf?j95jjv') format('truetype'),
	url('/static/fonts/icomoon.woff?j95jjv') format('woff'),
	url('/static/fonts/icomoon.svg?j95jjv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: '\e901';
}
.icon-three-bars:before {
	content: "\e902";
}

.icon-chevron-down:before {
	content: '\e903';
}
.icon-chevron-left:before {
	content: '\e90c';
}
.icon-chevron-right:before {
	content: '\e90d';
}
.icon-chevron-up:before {
	content: '\e90e';
}


.icon-triangle-down:before {
	content: '\e90f';
}
.icon-triangle-left:before {
	content: '\e910';
}
.icon-triangle-right:before {
	content: '\e911';
}
.icon-triangle-up:before {
	content: '\e912';
}

.icon-economic-value:before {
	content: "\e909";
}
.icon-overall-value:before {
	content: "\e90a";
}
.icon-potentials:before {
	content: "\e908";
}
.icon-flow-of-value:before {
	content: "\e90b";
}

.icon-forest:before {
	content: "\e905";
}
.icon-jobs:before {
	content: "\e906";
}
.icon-water:before {
	content: "\e907";
}
.icon-tourism:before {
	content: "\e900";
}
.icon-growth:before {
	content: "\e904";
}
