.card-image {
  background-size: cover;
  height: 200px;
}



.img-urban-park-cta {
	background-image: url('/static/images/germia-urban-park-cta.jpg');
}

.img-sustainable-business-cta {
	background-image: url('/static/images/odrzivo-poslovanje.jpg');
}

.img-protected-areas-cta {
	background-image: url('/static/images/zasticena-podrucja.jpg');
}
