#homepage-map-wrapper {
	position: relative;
	width: 100%;

	height: 1000px;
	@media (min-width: $breakpoint-xxl) {
		height: 1600px;
	}

	#homepage-map {
		position: absolute;
		top: 0;
		overflow: visible;
	}

	#homepage-map-desc {
		position: absolute;
		top: 20%;
		left: 10%;
		width: 30%;
	}

	svg {
		transition: transform 500ms;

		.country {
			transition: opacity 500ms;
			cursor: pointer;

			&:hover {
				opacity: 0.5;
			}

			path { stroke: white; }
		}

		.al path { fill: url(#al); }
		.ba path { fill: url(#ba); }
		.hr path { fill: url(#hr); }
		.xk path { fill: url(#xk); }
		.mk path { fill: url(#mk); }
		.me path { fill: url(#me); }
		.rs path { fill: url(#rs); }
		.si path { fill: url(#si); }
	}
}
