.opacity-10 { opacity: 0.1; }
.opacity-20 { opacity: 0.2; }
.opacity-30 { opacity: 0.3; }
.opacity-50 { opacity: 0.5; }
.opacity-75 { opacity: 0.75; }

.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }

.box-shadow {
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.1);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.pointer:hover {
  cursor: pointer;
}

.cover {
  background-size: cover;
  background-position: center center;
}

.w100 { width: 100%; }
.h100 { height: 100%; }

.flex-1 { flex: 1 }
