/* Breakpoints */

$breakpoint-sm: 40em;
$breakpoint-md: 52em;
$breakpoint-lg: 64em;
$breakpoint-xl: 76em;

/* Colors */

$white: #FFFFFF;
$white-dirty: #FAFAFA;
$grey-light: #E5E5E5;
$grey: #9B9B9B;
$grey-dark: #4A4A4A;
$red: #CD4141;
$blue-light: #4AC2ED;
$black-light: #212121;
$homepage-dark-blue: #48C6EF;
$homepage-blue: #6F86D6;

/* Country colors */

$hr-red: #FA555C;
$hr-blue: #0B8BB6;
$hr-blue-dark: #03769D;

$ba-blue: #17A9AE;
$ba-yellow: #BEB81C;
$ba-yellow-dark: #A8A20A;

$rs-green: #58C186;
$rs-blue: #3B2D6B;
$rs-blue-dark: #2E2355;

$si-cyan: #56ADC2;
$si-green: #27A04C;
$si-green-dark: #0A8C4D;

$me-red: #D62C2C;
$me-orange: #F5A623;
$me-orange-dark: #EA8B25;

$mk-red-light: #E06C6C;
$mk-red: #CD4141;
$mk-red-dark: #AB3434;

$al-yellow: #CBBE10;
$al-green: #7AB638;
$al-green-dark: #0A8C4D;

$xk-orange: #F0733D;
$xk-magenta: #6E386C;
$xk-magenta-dark: #492148;
