/* Breakpoints */

$breakpoint-sm: 40em;
$breakpoint-md: 52em;
$breakpoint-lg: 64em;
$breakpoint-lg1: 67em;
$breakpoint-lg2: 70em;
$breakpoint-lg3: 73em;
$breakpoint-xl: 76em;
$breakpoint-xl1: 79em;
$breakpoint-xl2: 82em;
$breakpoint-xl3: 85em;
$breakpoint-xxl: 88em;
$breakpoint-xxl1: 91em;
$breakpoint-xxl2: 94em;
$breakpoint-xxl3: 97em;
$breakpoint-3xl: 100em;
$breakpoint-3xl1: 103em;
$breakpoint-3xl2: 106em;
$breakpoint-3xl3: 109em;
$breakpoint-4xl: 112em;
$breakpoint-5xl: 124em;
$breakpoint-6xl: 136em;
$breakpoint-7xl: 148em;
$breakpoint-8xl: 160em;

/* Colors */

$white: #FFFFFF;
$white-dirty: #FAFAFA;
$grey-light: #E5E5E5;
$grey: #9B9B9B;
$grey-dark: #4A4A4A;
$red: #CD4141;
$blue-light: #4AC2ED;
$black-light: #212121;
$homepage-dark-blue: #48C6EF;
$homepage-blue: #6F86D6;
$salmon: #FF565F;
$salmon-dark: #C52630;
$wave-green: #AEDBAE; //#ADD8A5;
$wave-blue: #DBF1FE;
$cyan-light: #F1FDFF;
$pink: #FF565F;
$pink-dark: darken($pink, 10%);
$orange: #FCA63A;
$green-light: #B8DDB0;

$black-75: rgba(0,0,0, 0.75);

/* Country colors */

$hr-red: #FA555C;
$hr-blue: #0B8BB6;
$hr-blue-dark: #03769D;

$ba-blue: #17A9AE;
$ba-yellow: #BEB81C;
$ba-yellow-dark: #A8A20A;

$rs-green: #58C186;
$rs-blue: #3B2D6B;
$rs-blue-dark: #2E2355;

$si-cyan: #56ADC2;
$si-green: #27A04C;
$si-green-dark: #0A8C4D;

$me-red: #D62C2C;
$me-orange: #F5A623;
$me-orange-dark: #EA8B25;

$mk-red-light: #E06C6C;
$mk-red: #CD4141;
$mk-red-dark: #AB3434;

$al-yellow: #CBBE10;
$al-green: #7AB638;
$al-green-dark: #0A8C4D;

$xk-orange: #F0733D;
$xk-magenta: #6E386C;
$xk-magenta-dark: #492148;

$case-green: #008C50;
$case-aqua: #3DABBA;
