#supertitle {
  font-size: 5rem;
  em { font-style: normal; }
}

.full-width { width: 100%; }
.invisible { visibility: hidden; }

.partners-list {
  .case {
    display: flex !important;
    height: 10rem;

    img {
      max-width: 100%;
      margin: auto;
    }
  }
}

.social-icon { padding: 0.5rem 0.6rem; }

.article {
  height: 405px;
  font-size: 14px;

  .btn {
    padding: 0.75rem;
    margin-right: 0;
  }

  .btn-learn-more, .btn-view-study {
    position: absolute;
    bottom: 2rem;
  }
  .btn-learn-more + .btn-view-study { left: 11.25rem; }

  &.article-hot {
    border-bottom: 7px solid $orange;
  }

  .article-image {
    width: 100%;
    height: 405px;
    display: inline-block;
    background-position: center;
    background-size: cover;
  }

  .label-tag { margin-bottom: 0.25rem; }
}

.article-small {
  // text only
  p.lead {
    overflow: hidden;
    max-height: 7em;
  }
}

.article-medium {
  // text with top-bar image, no description
  .image {
    max-height: 136px;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
    }
    .article-image { height: 136px; }
  }
}

.article-big {
  // text with image at right, double-width
  img { max-height: 405px; }
}

.article-full {
  // text with image at right, full-row width
  img {
    min-height: 405px;
    width: 100%;
  }
}

.article-filter-selection {
  .filter.active {
    color: $white;
    background-color: $pink;
  }
}

#article-single {
  .article-lead-image {
    img {
      max-width: 100%;
      border-radius: 2px;
      margin-bottom: 4rem;
    }
  }

  .article-body {
    border-bottom: 1px solid $grey-light;

    p + ul { margin-top: -0.75rem; }

    .article-body-content {
      p, ul, h1, h2, h3, h4, h5, h6 {
        margin-left: 20%;
      }
      .highlight {
        float: left;
        width: 50%;
        margin-left: 0;
        background: $white;
        border: none;
        border-bottom: 5px solid $pink;
        font-family: $playfair;
        font-weight: 700;
        line-height: 2rem;
        font-size: 1.5rem;
        padding: 1rem;
        padding-left: 0;
        margin-right: 2rem;
        margin-top: 0;
      }

      .m20 { margin-left: 20%; }
      .clear { clear: both; }

      img {
        border-radius: 2px;

        &.full-width {
            margin-left: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 100%;
        }

        &.fit-text {
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 20%;
            max-width: 80%;
        }

        &.force-width { max-width: 100%; }
        &.force-full-width { width: 100%; }
      }

      ul { padding-left: 2.5rem; }
    }
  }
}

.attachment-item {
  border-right: 1px solid $grey-light;
  position: relative;
  min-height: 26rem;

  .btn-download {
    position: absolute;
    bottom: 0;
  }

  &:last-child { border-right: none; }
}