@import "../node_modules/basscss/css/basscss.min.css";
@import "../node_modules/basscss-background-colors/css/background-colors.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,500,700|Bitter:400,700|Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import "_icons.scss";

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

$bosnian-color: #BEB81C;
$bosnian-color-2: #A8A20A;
$bosnian-color-3: #17A9AE;
$croatian-color: #0B8BB6;
$croatian-color-2: #03769D;
$croatian-color-3: #FA555C;
$default-color: #FEFEFE;
$default-color-2: #E5E5E5;
$default-color-3: #4AC2ED;
$footer-color: #212121;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Raleway', sans-serif;
}

//--------------------------------------------//
p {
  line-height: 1.5rem;
  color: #4A4A4A;
  text-align: justify;
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}

.bosnian-background-color-1 {
  background-color: $bosnian-color;
}

.bosnian-background-color-2 {
  background-color: $bosnian-color-2;
}

.bosnian-background-color-3 {
  background-color: $bosnian-color-3;
}

.bosnian-color-1 {
  color: $bosnian-color;
}

.bosnian-color-2 {
  color: $bosnian-color-2;
}

.bosnian-color-3 {
  color: $bosnian-color-3;
}

.croatian-background-color-1 {
  background-color: $croatian-color;
}

.croatian-background-color-2 {
  background-color: $croatian-color-2;
}

.croatian-background-color-3 {
  background-color: $croatian-color-3;
}

.croatian-color-1 {
  color: $croatian-color;
}

.croatian-color-2 {
  color: $croatian-color-2;
}

.croatian-color-3 {
  color: $croatian-color-3;
}

.default-background-color-1 {
  background-color: $default-color;
}

.default-background-color-2 {
  background-color: $default-color-2;
}

.default-color-1 {
  color: $default-color;
}

.default-color-2 {
  color: $default-color-2;
}

.white-background-color {
  background-color: white;
}

.capture-color {
  color: $footer-color;
}

.ml10 {
  margin-left: 10rem;
}

.mr10 {
  margin-right: 10rem;
}
.px10 {
  padding-right: 10rem;
  padding-left: 10rem;
}
//--------------------------------------------//

.icon-logo {
  position: absolute;
  top: -1rem;
  left: 2rem;
  display: block;
  z-index: 3;
  text-indent: -9999px;
  width: 6.5rem;
  height: 9.5rem;
  background-size: 100% 100%;
}

.header {
  height: 4.5rem;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
  width: 100%;
  transition: height 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  position: fixed;
}

.nav-links-bosnian {
  height: inherit;
  li {
    padding: 0 1rem;
    height: inherit;
    max-width: 15vw;
    cursor: pointer;
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      height: 100%;
    }
    &:hover {
      background-color: $bosnian-color-2;
    }
  }
}

.nav-links-croatian {
  height: inherit;
  li {
    padding: 0 1rem;
    height: inherit;
    max-width: 15vw;
    cursor: pointer;
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      height: 100%;
    }
    &:hover {
      background-color: $croatian-color-2;
    }
  }
}

.nav-links-default {
  height: inherit;
  li {
    padding: 0 1rem;
    height: inherit;
    max-width: 15vw;
    cursor: pointer;
    a {
      color: #4A4A4A;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      height: 100%;
    }
    &:hover {
      background-color: $default-color-2;
    }
  }
}

.menu {
  height: inherit;
  li {
    cursor: pointer;
  }
}

.banner {
  height: 80vh;
  overflow: hidden;
  background-image: url('/static/images/bosnian_banner.jpg');
  background-position: center center;
  background-size: cover;
}

.banner-title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 4.75rem;
  color: white;
  max-width: 30%;
  margin-left: 10rem;
}

.banner-quote {
  font-size: 1.5rem;
  color: white;
  margin-left: 10rem;
  max-width: 50%;
}

.banner-button {
  box-sizing: border-box;
  border: 3px solid transparent;
  min-height: 4rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  margin-left: 10rem;
  border-radius: 0.1rem;
}

.bosnian-border-gradient {
  -moz-border-image: -moz-linear-gradient(left, $bosnian-color-3 0%, $bosnian-color 100%);
  -webkit-border-image: -webkit-linear-gradient(left, $bosnian-color-3 0%, $bosnian-color 100%);
  border-image: linear-gradient(to right, $bosnian-color-3 0%, $bosnian-color 100%);
  border-image-slice: 1;
}

.croatian-border-gradient {
  -moz-border-image: -moz-linear-gradient(left, $croatian-color-3 0%, $croatian-color 100%);
  -webkit-border-image: -webkit-linear-gradient(left, $croatian-color-3 0%, $croatian-color 100%);
  border-image: linear-gradient(to right, $croatian-color-3 0%, $croatian-color 100%);
  border-image-slice: 1;
}

.country-h1 {
  font-size: 3.75rem;
  opacity: 0.2;
  font-weight: bold;
  font-family: "Playfair Display";
}

.country-icon {
  font-size: 3.75rem;
}

.country-text {
  color: #4A4A4A;
  font-family: "Raleway";
  line-height: 2rem;
}

.index-h2 {
  font-size: 2rem;
  font-weight: bold;
}

.index-h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.second-container-background {
  background-color: #FAFAFA;
}

.pabat-footer {
  background-color: $footer-color;
}

.footer-icon-logo {
  width: 5rem;
  height: 7.5rem;
}

.footer-nav-links a {
  color: #4A4A4A;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.copyright {
  color: #9B9B9B;
}

.cta-image-holder {
  height: 30vh;
  overflow: hidden;
  background-image: url('/static/images/bosnian_cta.png');
  background-position: center center;
  background-size: cover;
}

.cta-white-button {
  box-sizing: border-box;
  border: 3px solid #FFFFFF;
  min-height: 4rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.cta-button-position {
  position: absolute;
}

// ---------- Localization button select ----------//
select {
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow:hidden;
    width: 100%;
    height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    cursor: pointer;
    transition: height 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    text-indent: 1.5rem;
}

.select-wrapper {
  &::after {
    content: "\e5c5";
    font-family: 'icomoon' !important;
    line-height: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    text-indent: 1.5rem;
  }
}
//-------------------------------------------------//

#bosnian-nav {
    background-color: $bosnian-color-2;
}
#bosnian-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#bosnian-nav ul li {
    display: inline-block;
}
#bosnian-nav ul li:hover {
    background-color: $bosnian-color;
}
#bosnian-nav ul li a, visited {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#bosnian-nav ul li:hover ul {
    display: block;
}
#bosnian-nav ul ul {
    display: none;
    position: absolute;
    background-color: $bosnian-color-2;
    border: 5px solid $bosnian-color;
    border-top: 0;
    margin-left: -5px;
}
#bosnian-nav ul ul li {
    display: block;
}
#bosnian-nav ul ul li a:hover {
    color: $bosnian-color-3;
}

//////////////////////////

#croatian-nav {
    background-color: $croatian-color-2;
}
#croatian-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#croatian-nav ul li {
    display: inline-block;
}
#croatian-nav ul li:hover {
    background-color: $croatian-color;
}
#croatian-nav ul li a, visited {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#croatian-nav ul li:hover ul {
    display: block;
}
#croatian-nav ul ul {
    display: none;
    position: absolute;
    background-color: $croatian-color-2;
    border: 5px solid $croatian-color;
    border-top: 0;
    margin-left: -5px;
}
#croatian-nav ul ul li {
    display: block;
}
#croatian-nav ul ul li a:hover {
    color: $croatian-color-3;
}

//////////////////////////

#default-nav {
    background-color: $default-color-2;
}
#default-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#default-nav ul li {
    display: inline-block;
}
#default-nav ul li:hover {
    background-color: $default-color;
}
#default-nav ul li a, visited {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#default-nav ul li:hover ul {
    display: block;
}
#default-nav ul ul {
    display: none;
    position: absolute;
    background-color: $default-color-2;
    border: 5px solid $default-color;
    border-top: 0;
    margin-left: -5px;
}
#default-nav ul ul li {
    display: block;
}
#default-nav ul ul li a:hover {
    color: $default-color-3;
}

.icon-visitors {
  -webkit-mask-image: url('/static/images/visitors.svg');
  mask-image: url('/static/images/visitors.svg');
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.visitor-wrapper {
  height: 215px;
  width: 198px;
}

.counter {
  position: absolute;
  font-size: 7rem;
  font-weight: bold;
}

.capture {
  opacity: 0.3;
  font-size: 0.9rem;
}


#lektor-edit-link {
  display: none;
}

path.color0 {
  fill: #567F3A;
}

path.color1 {
  fill: #B0CE9B;
}

.donut-text {
  font-family: sans-serif;
  font-size: 4rem;
  letter-spacing: -.2rem;
  font-weight: 600;
  line-height: 12rem;
  fill: #567F3A;
}

.background-text {
  color: $default-color-3;
  font-size: 12rem;
  font-family: "Playfair Display";
  font-weight: bold;
  opacity: 0.2;
}

.facts-container {
  background: linear-gradient(135deg, #0A8C4D 0%, #56ADC2 100%);
}

.facts-card {
  background-color: #FAFAFA;
}

.facts-button {
  box-sizing: border-box;
  border: 3px solid transparent;
  min-height: 4rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0.1rem;
  -moz-border-image: -moz-linear-gradient(left, $default-color-3 0%, $bosnian-color 100%);
  -webkit-border-image: -webkit-linear-gradient(left, $default-color-3 0%, $bosnian-color 100%);
  border-image: linear-gradient(to right, $default-color-3 0%, $bosnian-color 100%);
  border-image-slice: 1;
}

.index-counter {
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
}

.index-visitor-wrapper {
  height: 151px;
  width: 138px;
}

.index-banner {
  background: linear-gradient(0deg, #48C6EF 0%, #6F86D6 100%);
  padding-top: 15rem;
}

.index-banner-quote {
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 10px 0 rgba(0,0,0,0.15);
  font-family: "Playfair Display";
  font-size: 5rem;
  line-height: 7rem;
  margin-bottom: 2rem;
}

.index-banner-button {
  background: linear-gradient(315deg, #BEB81C 0%, #17A9AE 100%);
  border-radius: 100px;
  min-height: 4rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}