/* @import "reset.css"; */
@import "normalize.scss";
@import "../node_modules/basscss/css/basscss.min.css";
@import "../node_modules/basscss-responsive-margin/css/responsive-margin.css";
@import "../node_modules/basscss-responsive-padding/css/responsive-padding.css";
@import "../node_modules/basscss-background-colors/css/background-colors.css";
@import "../node_modules/c3/c3.min.css";

@import "variables.scss";
@import "typography.scss";
@import "colors.scss";
@import "images.scss";
@import "utilities.scss";
@import "mixins.scss";
@import "icons.scss";
@import "global_header.scss";
@import "countries.scss";
@import "graphs.scss";
@import "pickers.scss";

/* Custom: Fix box sizing on everything */
* {
  box-sizing: border-box;
}

.short-cta {
	  height: 30vh;
}

.short-banner {
	  height: 30vh;
}

/* TODO: delete everything(!) below */

$albanian-color: #7AB638;
$albanian-color-2: #0A8C4D;
$albanian-color-3: #CBBE10;
$bosnian-color: #BEB81C;
$bosnian-color-2: #A8A20A;
$bosnian-color-3: #17A9AE;
$croatian-color: #0B8BB6;
$croatian-color-2: #03769D;
$croatian-color-3: #FA555C;
$kosovian-color: #6E386C;
$kosovian-color-2: #492148;
$kosovian-color-3: #F0733D;
$macedonian-color: #CD4141;
$macedonian-color-2: #AB3434;
$macedonian-color-3: #E06C6C;
$montenegran-color: #F5A623;
$montenegran-color-2: #EA8B25;
$montenegran-color-3: #D62C2C;
$serbian-color: #3B2D6B;
$serbian-color-2: #2E2355;
$serbian-color-3: #58C186;
$slovenian-color: #27A04C;
$slovenian-color-2: #0A8C4D;
$slovenian-color-3: #56ADC2;

$title-font-family: 'Playfair Display', serif;
$body-font-family: 'Raleway', sans-serif;

$default-color: #FEFEFE;
$default-color-2: #E5E5E5;
$default-color-3: #4AC2ED;
$footer-color: #212121;
$body-color: #4A4A4A;
$light-background-color: #FAFAFA;

/* sup, sub ----------------------------------- */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Global settings ----------------------------- */

.capture-color { color: $footer-color; }
.white-background-color { background-color: white; }
.default-background-color-1 { background-color: $default-color; }
.default-background-color-2 { background-color: $default-color-2; }
.default-color-1 { color: $default-color; }
.default-color-2 { color: $default-color-2; }
.default-color-3 { color: $default-color-3; }


/* Utilities ------------------------------------- */

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

/* Custom media breakpoints ---------------------- */


@media (min-width: 76em) {
	.xl-px10 {
		padding-right: 10rem;
		padding-left: 10rem;
	}
}

@media (min-width: 64em) {
	.lg-ml10 {
		margin-left: 10rem;
	}

	.lg-ml16 {
		margin-left: 16rem;
	}
}

@media (min-width: 52em) {
	.sm-ml6 {
		margin-left: 6rem;
	}
}

//--------------------------------------------//

.banner {
	height: 80vh;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
}


@media (max-width: 44em) {
	.sm-banner-title {
		font-size: 3rem;
	}
}

.banner-button {
	box-sizing: border-box;
	border: 3px solid transparent;
	min-height: 4rem;
	text-transform: uppercase;
	color: white;
	font-weight: 900;
	font-size: 1rem;
	text-decoration: none;
	border-radius: 0.1rem;
}

.country-h1 {
	@include title-font;
	font-weight: bold;
	font-size: 3.75rem;
	opacity: 0.2;
}

.country-h2 {
	@include body-font;
	font-weight: bold;
	font-size: 1.75rem;
}

.country-icon {
	font-size: 3.75rem;
}

.country-text {
	color: $body-color;
	font-family: "Raleway";
	line-height: 2rem;
}

.index-h2 {
	font-size: 2rem;
	font-weight: 900;
}

.index-h3 {
	font-size: 1.5rem;
	font-weight: 900;
}

.second-container-background {
	background-color: $light-background-color;
}


/* Countries ----------------------------------------------- */


/* Country mixins */


.bosnian-background-color-1 { background-color: $bosnian-color; }
.bosnian-background-color-2 { background-color: $bosnian-color-2; }
.bosnian-background-color-3 { background-color: $bosnian-color-3; }
.bosnian-color-1 { color: $bosnian-color; }
.bosnian-color-2 { color: $bosnian-color-2; }
.bosnian-color-3 { color: $bosnian-color-3; }
.croatian-background-color-1 { background-color: $croatian-color; }
.croatian-background-color-2 { background-color: $croatian-color-2; }
.croatian-background-color-3 { background-color: $croatian-color-3; }
.croatian-color-1 { color: $croatian-color; }
.croatian-color-2 { color: $croatian-color-2; }
.croatian-color-3 { color: $croatian-color-3; }
.albanian-background-color-1 { background-color: $albanian-color; }
.albanian-background-color-2 { background-color: $albanian-color-2; }
.albanian-background-color-3 { background-color: $albanian-color-3; }
.albanian-color-1 { color: $albanian-color; }
.albanian-color-2 { color: $albanian-color-2; }
.albanian-color-3 { color: $albanian-color-3; }
.serbian-background-color-1 { background-color: $serbian-color; }
.serbian-background-color-2 { background-color: $serbian-color-2; }
.serbian-background-color-3 { background-color: $serbian-color-3; }
.serbian-color-1 { color: $serbian-color; }
.serbian-color-2 { color: $serbian-color-2; }
.serbian-color-3 { color: $serbian-color-3; }
.macedonian-background-color-1 { background-color: $macedonian-color; }
.macedonian-background-color-2 { background-color: $macedonian-color-2; }
.macedonian-background-color-3 { background-color: $macedonian-color-3; }
.macedonian-color-1 { color: $macedonian-color; }
.macedonian-color-2 { color: $macedonian-color-2; }
.macedonian-color-3 { color: $macedonian-color-3; }
.kosovian-background-color-1 { background-color: $kosovian-color; }
.kosovian-background-color-2 { background-color: $kosovian-color-2; }
.kosovian-background-color-3 { background-color: $kosovian-color-3; }
.kosovian-color-1 { color: $kosovian-color; }
.kosovian-color-2 { color: $kosovian-color-2; }
.kosovian-color-3 { color: $kosovian-color-3; }
.montenegran-background-color-1 { background-color: $montenegran-color; }
.montenegran-background-color-2 { background-color: $montenegran-color-2; }
.montenegran-background-color-3 { background-color: $montenegran-color-3; }
.montenegran-color-1 { color: $montenegran-color; }
.montenegran-color-2 { color: $montenegran-color-2; }
.montenegran-color-3 { color: $montenegran-color-3; }
.slovenian-background-color-1 { background-color: $slovenian-color; }
.slovenian-background-color-2 { background-color: $slovenian-color-2; }
.slovenian-background-color-3 { background-color: $slovenian-color-3; }
.slovenian-color-1 { color: $slovenian-color; }
.slovenian-color-2 { color: $slovenian-color-2; }
.slovenian-color-3 { color: $slovenian-color-3; }

.albanian-border-gradient { @include country-border-gradient($albanian-color-3, $albanian-color); }
.bosnian-border-gradient { @include country-border-gradient($bosnian-color-3, $bosnian-color); }
.croatian-border-gradient { @include country-border-gradient($croatian-color-3, $croatian-color); }
.kosovian-border-gradient { @include country-border-gradient($kosovian-color-3, $kosovian-color); }
.macedonian-border-gradient { @include country-border-gradient($macedonian-color-3, $macedonian-color); }
.montenegran-border-gradient { @include country-border-gradient($montenegran-color-3, $montenegran-color); }
.serbian-border-gradient { @include country-border-gradient($serbian-color-3, $serbian-color); }
.slovenian-border-gradient { @include country-border-gradient($slovenian-color-3, $slovenian-color); }

.nav-links-albanian { @include country-nav-link($albanian-color-2); }
.nav-links-bosnian { @include country-nav-link($bosnian-color-2); }
.nav-links-croatian { @include country-nav-link($croatian-color-2); }
.nav-links-kosovian { @include country-nav-link($kosovian-color-2); }
.nav-links-macedonian { @include country-nav-link($macedonian-color-2); }
.nav-links-montenegran { @include country-nav-link($montenegran-color-2); }
.nav-links-serbian { @include country-nav-link($serbian-color-2); }
.nav-links-slovenian { @include country-nav-link($slovenian-color-2); }

.pa-banner-image,
.examples-banner-image,
.recommendations-banner-image,
.sust-business-banner-image {
	background-image: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=2440%C3%97813&w=2440&h=813');
}

.urbanpark-banner-image {
	background-image: url('/static/images/germia-urban-park.jpg');
	background-size: cover;
}

.una-banner-image {
	background-image: url('/static/images/local-una.jpg');
	background-size: cover;
}

.sutjeska-banner-image {
	background-image: url('/static/images/sutjeska-tourism.jpg');
	background-size: cover;
}

.tara-banner-image {
	background-image: url('/static/images/tara-bear-watching-banner.jpg');
	background-size: cover;
}

.education-banner-image {
	background-image: url('/static/images/education-banner.jpg');
	background-size: cover;
}

.pa-cta-image,
.examples-cta-image,
.recommendations-cta-image,
.sust-business-cta-image {
	background-image: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=2440%C3%97813&w=2440&h=620');
}

.urbanpark-cta-image {
	background-image: url('/static/images/germia-urban-park-together.jpg');
	background-size: cover;
}

.una-cta-image {
	background-image: url('/static/images/local-una-cta.jpg');
	background-size: cover;
}

.sutjeska-cta-image {
	background-image: url('/static/images/sutjeska-tourism-cta.jpg');
	background-size: cover;
}

.tara-cta-image {
	background-image: url('/static/images/tara-bear-watching-cta.jpg');
	background-size: cover;
}

.education-cta-image {
	background-image: url('/static/images/education-cta.jpg');
	background-size: cover;
}

.country-facts {
	a {
		text-decoration: none;
		line-height: 1.5;
		font-weight: bold;
		&:hover { text-decoration: underline; }
	}
}

.facts-albania {
	.donut {
		path.color0 { fill: $albanian-color; }
		path.color1 { fill: $albanian-color-2; }
	}
}

.facts-bosnia {
	.donut {
		path.color0 { fill: $bosnian-color; }
		path.color1 { fill: $bosnian-color-2; }
	}
}

.facts-croatia {
	.donut {
		path.color0 { fill: $croatian-color; }
		path.color1 { fill: $croatian-color-2; }
	}
}

.facts-kosovo {
	.donut {
		path.color0 { fill: $kosovian-color; }
		path.color1 { fill: $kosovian-color-2; }
	}
}

.facts-macedonia {
	.donut {
		path.color0 { fill: $macedonian-color; }
		path.color1 { fill: $macedonian-color-2; }
	}
}

.facts-montenegro {
	.donut {
		path.color0 { fill: $montenegran-color; }
		path.color1 { fill: $montenegran-color-2; }
	}
}

.facts-serbia {
	.donut {
		path.color0 { fill: $serbian-color; }
		path.color1 { fill: $serbian-color-2; }
	}
}

.facts-slovenia {
	.donut {
		path.color0 { fill: $slovenian-color; }
		path.color1 { fill: $slovenian-color-2; }
	}
}

#albanian-nav ul,
#bosnian-nav ul,
#croatian-nav ul,
#kosovian-nav ul,
#macedonian-nav ul,
#montenegran-nav ul,
#serbian-nav ul,
#slovenian-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}

#albanian-nav ul li,
#bosnian-nav ul li,
#croatian-nav ul li,
#kosovian-nav ul li,
#macedonian-nav ul li,
#montenegran-nav ul li,
#serbian-nav ul li,
#slovenian-nav ul li {
	display: inline-block;
}

#albanian-nav ul li a,
#bosnian-nav ul li a,
#croatian-nav ul li a,
#kosovian-nav ul li a,
#macedonian-nav ul li a,
#montenegran-nav ul li a,
#serbian-nav ul li a,
#slovenian-nav ul li a {
	color: white;
	display: block;
	padding: 15px;
	text-decoration: none;
}

#albanian-nav ul ul li,
#bosnian-nav ul ul li,
#croatian-nav ul ul li,
#kosovian-nav ul ul li,
#macedonian-nav ul ul li,
#montenegran-nav ul ul li,
#serbian-nav ul ul li,
#slovenian-nav ul ul li {
	display: block;
}

#albanian-nav ul li:hover ul,
#bosnian-nav ul li:hover ul,
#croatian-nav ul li:hover ul,
#kosovian-nav ul li:hover ul,
#macedonian-nav ul li:hover ul,
#montenegran-nav ul li:hover ul,
#serbian-nav ul li:hover ul,
#slovenian-nav ul li:hover ul {
	display: block;
}

/* Albania */

#albanian-nav { background-color: $albanian-color-2; }
#albanian-nav ul li:hover { background-color: $albanian-color; }
#albanian-nav ul ul { @include country-hamburger-nav($albanian-color-2, $albanian-color); }
#albanian-nav ul ul li a:hover { color: $albanian-color-3; }

/* Bosnia */

#bosnian-nav { background-color: $bosnian-color-2; }
#bosnian-nav ul li:hover { background-color: $bosnian-color; }
#bosnian-nav ul ul { @include country-hamburger-nav($bosnian-color-2, $bosnian-color); }
#bosnian-nav ul ul li a:hover { color: $bosnian-color-3; }

/* Croatia */

#croatian-nav { background-color: $croatian-color-2; }
#croatian-nav ul li:hover { background-color: $croatian-color; }
#croatian-nav ul ul { @include country-hamburger-nav($croatian-color-2, $croatian-color); }
#croatian-nav ul ul li a:hover { color: $croatian-color-3; }

/* Kosovo */

#kosovian-nav { background-color: $kosovian-color-2; }
#kosovian-nav ul li:hover { background-color: $kosovian-color; }
#kosovian-nav ul ul { @include country-hamburger-nav($kosovian-color-2, $kosovian-color); }
#kosovian-nav ul ul li a:hover { color: $kosovian-color-3; }

/* Macedonia */

#macedonian-nav { background-color: $macedonian-color-2; }
#macedonian-nav ul li:hover { background-color: $macedonian-color; }
#macedonian-nav ul ul { @include country-hamburger-nav($macedonian-color-2, $macedonian-color); }
#macedonian-nav ul ul li a:hover { color: $macedonian-color-3; }

/* Montenegro */

#montenegran-nav { background-color: $montenegran-color-2; }
#montenegran-nav ul li:hover { background-color: $montenegran-color; }
#montenegran-nav ul ul { @include country-hamburger-nav($montenegran-color-2, $montenegran-color); }
#montenegran-nav ul ul li a:hover { color: $montenegran-color-3; }

/* Slovenia */

#slovenian-nav { background-color: $slovenian-color-2; }
#slovenian-nav ul li:hover { background-color: $slovenian-color; }
#slovenian-nav ul ul { @include country-hamburger-nav($slovenian-color-2, $slovenian-color); }
#slovenian-nav ul ul li a:hover { color: $slovenian-color-3; }

/* Serbia */

#serbian-nav { background-color: $serbian-color-2; }
#serbian-nav ul li:hover { background-color: $serbian-color; }
#serbian-nav ul ul { @include country-hamburger-nav($serbian-color-2, $serbian-color); }
#serbian-nav ul ul li a:hover { color: $serbian-color-3; }

/* Landing page ------------------------------------- */

#default-nav {
	background-color: $default-color-2;
}
#default-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
#default-nav ul li {
	display: inline-block;
}
#default-nav ul li:hover {
	background-color: $default-color;
}
#default-nav ul li a, visited {
	color: white;
	display: block;
	padding: 15px;
	text-decoration: none;
}
#default-nav ul li:hover ul {
	display: block;
}
#default-nav ul ul {
	display: none;
	position: absolute;
	background-color: $default-color-2;
	border: 5px solid $default-color;
	border-top: 0;
	margin-left: -5px;
}
#default-nav ul ul li {
	display: block;
}
#default-nav ul ul li a:hover {
	color: $default-color-3;
}

.capture {
	opacity: 0.3;
	font-size: 0.9rem;
}


#lektor-edit-link {
	display: none;
}

.background-text {
	@include title-font;
	font-size: 12rem;
	opacity: 0.2;
	position: absolute;
	left: 0;
	margin-left: 0.5rem;
	margin-top: 2.5rem;
}

.background-text-small {
	@include title-font;
	font-size: 9.5rem;
	opacity: 0.2;
	position: absolute;
	left: 0;
	margin-left: 0.5rem;
	margin-top: 2rem;
}

.card-background-text {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    line-height: 7rem;
    font-size: 12rem;
    opacity: 0.2;
    position: absolute;
    left: 0;
    margin-left: 0.5rem;
    padding-top: 1.4rem;
}

.py5 {
    padding-top: 8rem;
    padding-bottom: 4rem;
}

@media (max-width: 64em) {
	.md-py5 {
		padding-top: 2rem;
    	padding-bottom: 2rem;
	}
}

.facts-container {
	background: linear-gradient(135deg, #0A8C4D 0%, #56ADC2 100%);
}

.facts-card {
	background-color: $light-background-color;
	box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.09);
}

.facts-button {
	@include button-w-gradient($default-color-3, $bosnian-color);
}

.index-counter {
	position: absolute;
	font-size: 4rem;
	font-weight: 900;
}

.index-visitor-wrapper {
	height: 151px;
	width: 138px;

	#counter {
		margin-left: -64px;
	}

	.icon-visitors {
		margin-top: -40px;
	}
}

section.countries-map {
	background: linear-gradient(0deg, #48C6EF 0%, #6F86D6 100%);
	overflow: hidden;
	z-index: 75;

  /* TODO: clean this shit */
  .index-banner-quote {
	  @include title-font;
	  color: white;
	  text-shadow: 4px 4px 10px 0 rgba(0,0,0,0.15);
	  font-size: 5rem;
	  line-height: 6rem;
  }

  .index-banner-button {
	  background: linear-gradient(315deg, $bosnian-color 0%, $bosnian-color-3 100%);
	  border-radius: 100px;
	  min-height: 4rem;
	  text-transform: uppercase;
	  color: white;
	  font-weight: 900;
	  font-size: 1rem;
	  text-decoration: none;
  }
}


.cards-container.after-txt-bg {
	@media (min-width: 52em) {
		margin-top: 12rem;
	}
}

.learn-more-card {
	box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.09);

	.image-holder {
		width: 100%;
		height: 16rem;
	}

	.image-holder.default {
		background-image: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=360%C3%97235&w=360&h=235');
		display: block;
	}

	.image-holder.urban_park {
		background-image: url('/static/images/germia-urban-park-cta.jpg');
		background-size: cover;
		display: block;
	}

	.image-holder.local_una {
		background-image: url('/static/images/local-una.jpg');
		background-size: cover;
		display: block;
	}

	.image-holder.sutjeska_tourism {
		background-image: url('/static/images/sutjeska-river-tourism.jpg');
		background-size: cover;
		display: block;
	}

	.image-holder.tara_bear_watching {
		background-image: url('/static/images/tara-bear-watching.jpg');
		background-size: cover;
		display: block;
	}

	.image-holder.education {
		background-image: url('/static/images/edukacija.jpg');
		background-size: cover;
		display: block;
	}

	.image-holder.stakeholders {
		background-image: url('/static/images/stakeholders.jpg');
		background-size: cover;
		display: block;
	}
	.image-holder.zast_podrucja {
		background-image: url('/static/images/zasticena-podrucja.jpg');
		background-size: cover;
		display: block;
	}
	.image-holder.odrzivo_poslovanje {
		background-image: url('/static/images/odrzivo-poslovanje.jpg');
		background-size: cover;
		display: block;
	}

	.learn-more-button {
		p { line-height: 4rem; }
		@include button-w-gradient($croatian-color-3, $croatian-color);
	}
}

.landing-page-carousel {
	text-align: center;

	ul {
		list-style: none;
	}

	.message-prev,
	.message-next {
		@include icon-prevnext;
	}
}

@media (min-width: 40em) {
	.sm-min-height-carousel {
		height: 12rem;
	}
}
@media (min-width: 52em) {
	.md-min-height-carousel {
		height: 12rem;
	}
}
@media (min-width: 64em) {
	.lg-min-height-carousel {
		height: 12rem;
	}
}
@media (min-width: 76em) {
	.xl-min-height-carousel {
		height: 12rem;
	}
}

.icon-logo {
	position: absolute;
	top: -1rem;
	left: 2rem;
	display: block;
	z-index: 3;
	text-indent: -9999px;
	width: 6.5rem;
	height: 9.5rem;
	background: url('/static/images/WWF_logo.svg');
	background-size: 100% 100%;
}

.map-wrapper {
	position: relative;
	width: 100%;
	height: calc(100vh - 100px);

	.big-map {
		position: absolute;
		top: 0;
		overflow: visible;

		.country {
			.flag-icon {
				cursor: pointer;
				z-index: 5;
			}
		}
	}

	.big-map-desc {
		position: absolute;
		top: 20%;
		left: 10%;
		width: 30%;

		.country-name {
			font-family: $title-font-family;
			font-weight: 700;
			font-size: 7rem;
			color: white;
			overflow: show;
		}

		.country-desc {
			font-family: $body-font-family;
			font-size: 1.1rem;
			font-weight: 200;
			line-height: 1.5;
			color: white;
			width: 60%;
		}

		.about-country-button {
			@include button-w-gradient($croatian-color-3, $croatian-color);
			min-height: 3rem;
			width: 70%;
		}

		.country-prev,
		.country-next {
			@include icon-prevnext;
		}
	}

	.arrow-austria {
		position: absolute;
		font-size: 3rem;
		top: 10%;
		left: 5%;
		cursor: pointer;
		border-width: 3px 0 0 3px;
		border-style: solid;
		border-color: white;
		height: 50px;
		width: 50px;
	}

	.arrow-greece {
		position: absolute;
		font-size: 3rem;
		bottom: 15%;
		right: 5%;
		cursor: pointer;
		border-width: 0 3px 3px 0;
		border-style: solid;
		border-color: white;
		height: 50px;
		width: 50px;
	}

	svg {
		transition: transform 500ms;

		.country {
			transition: opacity 500ms;
			cursor: pointer;

			&:hover {
				opacity: 0.5;
			}

			path { stroke: white; }

			// .flag-icon * {
			// 	stroke-width: 0.5;
			// 	fill: transparent;
			// 	stroke: white;
			// }

			// .flag-icon:nth-child(1) { stroke-opacity: 0.1; }
			// .flag-icon:nth-child(2) { stroke-opacity: 0.5; }
			// .flag-icon:nth-child(3) { stroke-opacity: 0.9; }

			// .flag-icon:last-child {
			// 	stroke-width: 1;
			// 	fill: black;
			// }

		}

		.albania    path { fill: url(#al); }
		.bosnia     path { fill: url(#ba); }
		.croatia    path { fill: url(#hr); }
		.kosovo     path { fill: url(#xk); }
		.macedonia  path { fill: url(#mk); }
		.montenegro path { fill: url(#me); }
		.serbia     path { fill: url(#rs); }
		.slovenia   path { fill: url(#si); }
	}
}

.pabat-chart {
	height: 38rem;
}

.index-about {
	z-index: 99;

	.background-text {
		margin-top: -2rem;
	}
}

.c3-axis .tick line { display: none; }

///////////////////////////////////////////////////////////////////////


.chooser-headline {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  position: absolute;
  bottom: 1.2rem;
  font-size: 2.85rem;
  z-index: 0;
  opacity: 0.1;
  color: #4A4A4A;
  width: 140%;
  display: block;
}

//-------------------------------------------------//

.hide {
	display: none;
}

.recommendations {
	.title {
		color: $bosnian-color;
		font-weight: bold;
		font-size: 2rem;
	}

	ul.body li {
		list-style-position: inside;
		position: relative;
		padding-left: 4rem;
		&::before {
			content: "• ";
			top: -0.2rem;
			font-size: 1.5rem;
			color: $bosnian-color;
			font-weight: bold;
			margin-left: -3rem;
		    position: absolute;
		}
	}
	.list li {
		list-style-position: inside;
		text-indent: -2em;
		padding-left: 1em;
		line-height: 1.6rem;
		color: $body-color;
		counter-increment: step-counter;
		&::before {
			content: counter(step-counter) ".";
			font-size: 1rem;
			color: $bosnian-color-3;
			font-weight: bold;
			margin-right: 1.3rem;
		}

		ul li {
			&::before {
				content: "• ";
				font-size: 1.5rem;
				color: $bosnian-color-3;
				font-weight: bold;
				margin-right: 2rem;
			}
		}
	}
}

.urban-park {
	.title {
		color: $bosnian-color;
		font-weight: bold;
		font-size: 2rem;
	}
}
.wwf-examples {
	.title {
		color: $macedonian-color;
	}

	.body ul li {
		&::before {
			content: "• ";
			font-size: 1.5rem;
			color: $macedonian-color;
			font-weight: bold;
			margin-right: 2rem;
		}
	}
}


.pa-background-text {
	@include title-font;
	font-size: 4rem;
	opacity: 0.2;
	position: absolute;
	left: 0;
	margin-top: 2.5rem;
	margin-left: 0.5rem;
}

.pa-h2 {

	font-family: Raleway;
	font-size: 1rem;
	font-weight: bold;
	text-align: justify;
	line-height: 1.9rem;
	color: $body-color;
}

.pa-p {
	font-family: Raleway;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	line-height: 2rem;
	color: $croatian-color;
}

.graph-card-icon {
	font-size: 8rem;
	background: linear-gradient(315deg, $croatian-color 0%, $croatian-color-3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.pointer-cursor {
	cursor: pointer;
}

.graph-card {
	background-color: $light-background-color;
	box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.09);
}

.graph-card:hover {
	background-color: $croatian-color;
	.graph-card-icon {
		-webkit-text-fill-color: white;
	}
	.pa-p {
		color: white;
	}
}

.no-graphs-h1 {
	font-family: $title-font-family;
	opacity: 0.6;
	font-size: 4rem;
	font-weight: bold;
	line-height: 5rem;
	color: $body-color;
}

.no-graphs-ol li{
	font-family: $title-font-family;
	opacity: 0.1;
	font-size: 3rem;
	font-weight: bold;
	line-height: 4rem;
	color: $body-color;
	list-style-position: inside;
	counter-increment: step-counter;
	&::before {
		content: counter(step-counter) ".";
		font-size: 3rem;
		color: $body-color;
		font-weight: bold;
		margin-right: 1.3rem;
	}
}

.choose-country {
	&::after {
		font-family: $title-font-family;
		font-weight: 700;
		content: "Country";
		position: absolute;
		left: -0.2rem;
		bottom: 1.6rem;
		font-size: 3.75rem;
		z-index: 0;
		opacity: 0.1;
		color: $body-color;
		width: 140%;
		display: block;
	}
}

.choose-pa {
	&::after {
		font-family: $title-font-family;
		font-weight: 700;
		content: "Protected area";
		position: absolute;
		left: -0.2rem;
		bottom: 1.6rem;
		font-size: 3.75rem;
		z-index: 0;
		opacity: 0.1;
		color: $body-color;
		width: 140%;
		display: block;
	}
}

.choose-value {
	&::after {
		font-family: $title-font-family;
		font-weight: 700;
		content: "Values";
		position: absolute;
		left: -0.2rem;
		bottom: 1.6rem;
		font-size: 3.75rem;
		z-index: 0;
		opacity: 0.1;
		color: $body-color;
		width: 100%;
		display: block;
	}
}

.pa-choosen-text {
	color: $body-color;
	font-weight: bold;
}
