@import "../node_modules/basscss/css/basscss.min.css";
@import "../node_modules/basscss-background-colors/css/background-colors.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,500,700|Bitter:400,700|Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import "_icons.scss";

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
@custom-media --breakpoint-xl (min-width: 76em);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

$bosnian-color: #BEB81C;
$bosnian-color-2: #A8A20A;
$bosnian-color-3: #17A9AE;
$croatian-color: #0B8BB6;
$croatian-color-2: #03769D;
$croatian-color-3: #FA555C;
$serbian-color: #3B2D6B;
$serbian-color-2: #2E2355;
$serbian-color-3: #58C186;

$default-color: #FEFEFE;
$default-color-2: #E5E5E5;
$default-color-3: #4AC2ED;
$footer-color: #212121;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Raleway', sans-serif;
}

//--------------------------------------------//
p {
  line-height: 1.5rem;
  color: #4A4A4A;
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}

.bosnian-background-color-1 {
  background-color: $bosnian-color;
}

.bosnian-background-color-2 {
  background-color: $bosnian-color-2;
}

.bosnian-background-color-3 {
  background-color: $bosnian-color-3;
}

.bosnian-color-1 {
  color: $bosnian-color;
}

.bosnian-color-2 {
  color: $bosnian-color-2;
}

.bosnian-color-3 {
  color: $bosnian-color-3;
}

.croatian-background-color-1 {
  background-color: $croatian-color;
}

.croatian-background-color-2 {
  background-color: $croatian-color-2;
}

.croatian-background-color-3 {
  background-color: $croatian-color-3;
}

.croatian-color-1 {
  color: $croatian-color;
}

.croatian-color-2 {
  color: $croatian-color-2;
}

.croatian-color-3 {
  color: $croatian-color-3;
}

.serbian-background-color-1 {
  background-color: $serbian-color;
}

.serbian-background-color-2 {
  background-color: $serbian-color-2;
}

.serbian-background-color-3 {
  background-color: $serbian-color-3;
}

.serbian-color-1 {
  color: $serbian-color;
}

.serbian-color-2 {
  color: $serbian-color-2;
}

.serbian-color-3 {
  color: $serbian-color-3;
}

.default-background-color-1 {
  background-color: $default-color;
}

.default-background-color-2 {
  background-color: $default-color-2;
}

.default-color-1 {
  color: $default-color;
}

.default-color-2 {
  color: $default-color-2;
}

.white-background-color {
  background-color: white;
}

.capture-color {
  color: $footer-color;
}

.ml10 {
  margin-left: 10rem;
}

.mr10 {
  margin-right: 10rem;
}

.mt8 {
  margin-top: 7rem;
}

@media (min-width: 76em) {
  .xl-px10 {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

@media (min-width: 64em) {
  .lg-ml10 {
  margin-left: 10rem;
}
}

.px10 {
  padding-right: 10rem;
  padding-left: 10rem;
}
//--------------------------------------------//

.header {
  height: 4.5rem;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
  width: 100%;
  transition: height 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  position: fixed;
}

.nav-links-bosnian {
  height: inherit;
  li {
    padding: 0 1rem;
    height: inherit;
    max-width: 15vw;
    cursor: pointer;
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      height: 100%;
    }
    &:hover {
      background-color: $bosnian-color-2;
    }
  }
}

.nav-links-serbian {
  height: inherit;
  li {
    padding: 0 1rem;
    height: inherit;
    max-width: 15vw;
    cursor: pointer;
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      height: 100%;
    }
    &:hover {
      background-color: $serbian-color-2;
    }
  }
}

.nav-links-croatian {
  height: inherit;
  li {
    padding: 0 1rem;
    height: inherit;
    max-width: 15vw;
    cursor: pointer;
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      height: 100%;
    }
    &:hover {
      background-color: $croatian-color-2;
    }
  }
}

.nav-links-default {
  height: inherit;
  li {
    padding: 0 1rem;
    height: inherit;
    max-width: 15vw;
    cursor: pointer;
    a {
      color: #4A4A4A;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      height: 100%;
    }
    &:hover {
      background-color: $default-color-2;
    }
  }
}

.menu {
  height: inherit;
  li {
    cursor: pointer;
  }
}

.banner {
  height: 80vh;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.bosnian-banner-image {
  background-image: url('/static/images/bosnian_banner.jpg');
}

.croatian-banner-image {
  background-image: url('/static/images/croatian_banner.jpg');
}

.serbian-banner-image {
  background-image: url('/static/images/Gornje-Podunavlje-(c)Vojvodinasume-Serbia.jpg');
}

@media (min-width: 64em) {
  
}

.banner-title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 4.75rem;
  color: white;
}

.banner-quote {
  font-size: 1.5rem;
  color: white;
}

.banner-button {
  box-sizing: border-box;
  border: 3px solid transparent;
  min-height: 4rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0.1rem;
}

.bosnian-border-gradient {
  -moz-border-image: -moz-linear-gradient(left, $bosnian-color-3 0%, $bosnian-color 100%);
  -webkit-border-image: -webkit-linear-gradient(left, $bosnian-color-3 0%, $bosnian-color 100%);
  border-image: linear-gradient(to right, $bosnian-color-3 0%, $bosnian-color 100%);
  border-image-slice: 1;
}

.croatian-border-gradient {
  -moz-border-image: -moz-linear-gradient(left, $croatian-color-3 0%, $croatian-color 100%);
  -webkit-border-image: -webkit-linear-gradient(left, $croatian-color-3 0%, $croatian-color 100%);
  border-image: linear-gradient(to right, $croatian-color-3 0%, $croatian-color 100%);
  border-image-slice: 1;
}

.serbian-border-gradient {
  -moz-border-image: -moz-linear-gradient(left, $serbian-color-3 0%, $serbian-color 100%);
  -webkit-border-image: -webkit-linear-gradient(left, $serbian-color-3 0%, $serbian-color 100%);
  border-image: linear-gradient(to right, $serbian-color-3 0%, $serbian-color 100%);
  border-image-slice: 1;
}

.country-h1 {
  font-size: 3.75rem;
  opacity: 0.2;
  font-weight: bold;
  font-family: "Playfair Display";
  line-height: 4rem;
}

.country-h2 {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "Playfair Display";
  line-height: 4rem;
}

.country-icon {
  font-size: 3.75rem;
}

.country-text {
  color: #4A4A4A;
  font-family: "Raleway";
  line-height: 2rem;
}

.index-h2 {
  font-size: 2rem;
  font-weight: bold;
}

.index-h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.second-container-background {
  background-color: #FAFAFA;
}

.pabat-footer {
  background-color: $footer-color;
}

.footer-icon-logo {
  width: 5rem;
  height: 7.5rem;
}

.footer-nav-links a {
  color: #4A4A4A;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.copyright {
  color: #9B9B9B;
}

.cta-image-holder {
  height: 30vh;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.bosnian-cta-image {
  background-image: url('/static/images/bosnian_cta.png');  
}

.croatian-cta-image {
  background-image: url('/static/images/croatian_cta.jpg');
}

.serbian-cta-image {
  background-image: url('/static/images/Serbia_CTA_image@2x.png');
}

.cta-white-button {
  box-sizing: border-box;
  border: 3px solid #FFFFFF;
  min-height: 4rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.cta-button-position {
  position: absolute;
}

// ---------- Localization button select ----------//
.local-dropdown {
  position: relative;
  display: inline-block;
  transition: height 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.local-dropdown .local-dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  margin: 0;

  list-style: none; /** Remove list bullets */
  width: 100%; /** Set the width to 100% of it's parent */
  padding: 0;
}

.local-dropdown:hover .local-dropdown-menu {
    display: block;
}

/** Button Styles **/
.local-dropdown button {
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow:hidden;
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
  transition: height 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

/** List Item Styles **/
.local-dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
}

/** List Item Hover Styles **/
.local-dropdown a:hover {
    background: #BBBBBB;
}
//-------------------------------------------------//

#bosnian-nav {
    background-color: $bosnian-color-2;
}
#bosnian-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#bosnian-nav ul li {
    display: inline-block;
}
#bosnian-nav ul li:hover {
    background-color: $bosnian-color;
}
#bosnian-nav ul li a, visited {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#bosnian-nav ul li:hover ul {
    display: block;
}
#bosnian-nav ul ul {
    display: none;
    position: absolute;
    background-color: $bosnian-color-2;
    border: 5px solid $bosnian-color;
    border-top: 0;
    margin-left: -5px;
}
#bosnian-nav ul ul li {
    display: block;
}
#bosnian-nav ul ul li a:hover {
    color: $bosnian-color-3;
}

//////////////////////////

#croatian-nav {
    background-color: $croatian-color-2;
}
#croatian-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#croatian-nav ul li {
    display: inline-block;
}
#croatian-nav ul li:hover {
    background-color: $croatian-color;
}
#croatian-nav ul li a, visited {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#croatian-nav ul li:hover ul {
    display: block;
}
#croatian-nav ul ul {
    display: none;
    position: absolute;
    background-color: $croatian-color-2;
    border: 5px solid $croatian-color;
    border-top: 0;
    margin-left: -5px;
}
#croatian-nav ul ul li {
    display: block;
}
#croatian-nav ul ul li a:hover {
    color: $croatian-color-3;
}

//////////////////////////

#serbian-nav {
    background-color: $serbian-color-2;
}
#serbian-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#serbian-nav ul li {
    display: inline-block;
}
#serbian-nav ul li:hover {
    background-color: $serbian-color;
}
#serbian-nav ul li a, visited {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#serbian-nav ul li:hover ul {
    display: block;
}
#serbian-nav ul ul {
    display: none;
    position: absolute;
    background-color: $serbian-color-2;
    border: 5px solid $serbian-color;
    border-top: 0;
    margin-left: -5px;
}
#serbian-nav ul ul li {
    display: block;
}
#serbian-nav ul ul li a:hover {
    color: $serbian-color-3;
}

//////////////////////////

#default-nav {
    background-color: $default-color-2;
}
#default-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#default-nav ul li {
    display: inline-block;
}
#default-nav ul li:hover {
    background-color: $default-color;
}
#default-nav ul li a, visited {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#default-nav ul li:hover ul {
    display: block;
}
#default-nav ul ul {
    display: none;
    position: absolute;
    background-color: $default-color-2;
    border: 5px solid $default-color;
    border-top: 0;
    margin-left: -5px;
}
#default-nav ul ul li {
    display: block;
}
#default-nav ul ul li a:hover {
    color: $default-color-3;
}

.icon-visitors {
  -webkit-mask-image: url('/static/images/visitors.svg');
  mask-image: url('/static/images/visitors.svg');
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.visitor-wrapper {
  height: 215px;
  width: 198px;
}

.counter {
  position: absolute;
  font-size: 7rem;
  font-weight: bold;
}

.capture {
  opacity: 0.3;
  font-size: 0.9rem;
}


#lektor-edit-link {
  display: none;
}

path.color0 {
  fill: #567F3A;
}

path.color1 {
  fill: #B0CE9B;
}

.donut-text {
  font-family: sans-serif;
  font-size: 4rem;
  letter-spacing: -.2rem;
  font-weight: 600;
  line-height: 12rem;
  fill: #567F3A;
}

.background-text {
  color: $default-color-3;
  font-size: 12rem;
  font-family: "Playfair Display";
  font-weight: bold;
  opacity: 0.2;
  position: absolute;
  left: 0;
  margin-top: 2.5rem;
  margin-left: 0.5rem;
}

.facts-container {
  background: linear-gradient(135deg, #0A8C4D 0%, #56ADC2 100%);
}

.facts-card {
  background-color: #FAFAFA;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.09);
}

.facts-button {
  box-sizing: border-box;
  border: 3px solid transparent;
  min-height: 4rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0.1rem;
  -moz-border-image: -moz-linear-gradient(left, $default-color-3 0%, $bosnian-color 100%);
  -webkit-border-image: -webkit-linear-gradient(left, $default-color-3 0%, $bosnian-color 100%);
  border-image: linear-gradient(to right, $default-color-3 0%, $bosnian-color 100%);
  border-image-slice: 1;
}

.index-counter {
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
}

.index-visitor-wrapper {
  height: 151px;
  width: 138px;
}

.index-banner {
  background: linear-gradient(0deg, #48C6EF 0%, #6F86D6 100%);
  padding-top: 15rem;
}

.index-banner-quote {
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 10px 0 rgba(0,0,0,0.15);
  font-family: "Playfair Display";
  font-size: 5rem;
  line-height: 7rem;
  margin-bottom: 2rem;
}

.index-banner-button {
  background: linear-gradient(315deg, #BEB81C 0%, #17A9AE 100%);
  border-radius: 100px;
  min-height: 4rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.learn-more-card {
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.09);
}

.learn-more-button {
  box-sizing: border-box;
  border: 3px solid transparent;
  min-height: 4rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0.1rem;
  -moz-border-image: -moz-linear-gradient(left, $croatian-color-3 0%, $croatian-color 100%);
  -webkit-border-image: -webkit-linear-gradient(left, $croatian-color-3 0%, $croatian-color 100%);
  border-image: linear-gradient(to right, $croatian-color-3 0%, $croatian-color 100%);
  border-image-slice: 1;
}

.image-holder {
  background-image: url('/static/images/bosnian_banner.jpg');
  width: 100%;
  height: 16rem;
}

#carousel {
    text-align: center;
}
#carousel ul {
    list-style: none;
}
#carousel li {
    display: none;
}

.height-carousel {
  height: 15rem;
}

@media (min-width: 40em) {
  .sm-min-height-carousel {
    height: 20rem;
  }
}
@media (min-width: 52em) {
  .md-min-height-carousel {
    height: 20rem;
  }
}
@media (min-width: 64em) {
  .lg-min-height-carousel {
    height: 25rem;
  }
}
@media (min-width: 76em) {
  .xl-min-height-carousel {
    height: 15rem;    
  }
}

.icon-logo {
  position: absolute;
  top: -1rem;
  left: 2rem;
  display: block;
  z-index: 3;
  text-indent: -9999px;
  width: 6.5rem;
  height: 9.5rem;
  background: url('/static/images/WWF_logo.svg');
  background-size: 100% 100%;
}