/* @import "reset.css"; */
@import "normalize.scss";
@import "../node_modules/basscss/css/basscss.min.css";
@import "../node_modules/basscss-responsive-margin/css/responsive-margin.css";
@import "../node_modules/basscss-responsive-padding/css/responsive-padding.css";
@import "../node_modules/basscss-background-colors/css/background-colors.css";
@import "../node_modules/c3/c3.min.css";

/* https://jonsuh.com/hamburgers */
@import "hamburgers-settings.scss";
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

@import "variables.scss";
@import "typography.scss";
@import "colors.scss";
@import "images.scss";
@import "utilities.scss";
@import "icons.scss";
@import "navigation.scss";
@import "map.scss";
@import "graphics.scss";
@import "pickers.scss";

/* Custom: Fix box sizing on everything */
* {
  box-sizing: border-box;
}

.short-banner {
	height: 50vh;
	@media (min-width: $breakpoint-xxl) {
		height: 30vh;
	}
}

.short-cta {
	  height: 30vh;
}

.image-credit {
	bottom: -50px;
	right: -100px;
}

#lektor-edit-link {
	  display: none;
}

.pointer{
	cursor: pointer;
}

.btn-blue-hover:hover {
	background-color: #086585; 
}

.image-protected{
	max-width: 100%;
	max-height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}