@media (max-width: $breakpoint-sm) {
    .width-4 { width: auto; }
    .h1-5 { line-height: 4.2rem; }
    #partners {
        .max-width-4 { max-width: 38em; }
        .case {
            img { max-width: 80%; }
        }
    }
    .articles-filter-content {
        padding: 1rem;
        .filter { margin-bottom: 0.5rem; }
        .center { text-align: left; }
    }
    #articles {
        .article {
            height: auto;
            max-height: 405px;
        }

        .btn-learn-more, .btn-view-study {
            position: static;
            bottom: 0;
        }
        .btn-learn-more { margin-right: 1rem; }
        .article-item {
            width: 100%;

            .col-2.image { width: 0; }
            .col-4.image { width: 0; }
            .col-8.image { width: 0; }
            .image { display: none; }

            .text {
                float: none;
                width: 100%;
            }
        }
    }

    #article-single {
        .article-meta {
            float: none;
            &.mt4 { margin-top: 1rem; }
        }
        .article-tags {
            float: none;
            margin-top: 0;
        }
        .article-title {
            padding: 0 1rem;
            line-height: 4.25rem;
            word-break: break-word;

            .h2 { font-size: 3.5em; }
        }
        .lead {
            width: 100%;
            padding: 0 1rem;
            margin: 0.5rem 0;
        }
        .social {
            width: 11rem;
            margin-bottom: 1.5rem;
        }
        .article-body {
            .article-body-content {
                p, ul, h1, h2, h3, h4, h5, h6 {
                    margin-left: 0;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                ul { padding-left: 2.5rem; }
                img {
                    max-width: 100%;
                    &.fit-text {
                        margin-left: 0;
                        max-width: 100%;
                    }
                }

                .m20 { margin-left: inherit; }
                p.highlight {
                    margin-left: 1rem;
                    margin-right: 1rem;
                    padding-left: 1rem;
                    width: 95%;
                    border-bottom: none;
                    border-left: 5px solid $pink;
                }
            }
        }
        .article-attachments {
            ul { padding-left: 0; }
            .attachment-item {
                width: 100%;
                padding: 0 1rem;
                float: none;
                border-bottom: 1px solid $grey-light;
                &:last-child { border-bottom: none; }
            }
        }
        .article-facts {
            .facts-holder {
                padding-left: 1rem;
                padding-right: 1rem;

                h3 { padding: 0 0.5rem; }
            }
        }

        &.case-study {
            .data-body-content {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
            .main-data, .sub-data { display: block; }
            .data-item {
                flex: none;
                margin-bottom: 1rem;
            }
            h4 {
                word-break: break-word;
                font-size: 2.5rem;
            }
            dl {
                dt {
                    float: none;
                    width: 80%;
                }
                dd { width: 90%; }
            }
        }
    }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    .width-4 { width: 41em; }
    .h1-5 { line-height: 4.25rem; }
    #partners {
        .max-width-4 { max-width: 38em; }
        .case {
            img { max-width: 90%; }
        }
    }
    #articles-filter {
        .max-width-4 { max-width: 95%; }
    }
    #articles {
        .article {
            height: auto;
            max-height: 405px;
        }
        .article-item {
            width: 100%;

            .col-2 { width: 50%; }
            .col-4 { width: 50%; }
            .col-8 { width: 50%; }

            &.article-small {
                .btn-learn-more, .btn-view-study { position: static; }
                .btn-learn-more { margin-right: 1rem; }
            }
            &.article-medium {
                .col-12 {
                    width: 50%;
                    float: right;
                }
                img {
                    max-height: fit-content;
                    max-width: fit-content;
                }

                .image {
                    max-height: fit-content;
                    .article-image { height: 230px; }
                }
                .btn-learn-more, .btn-view-study { position: static; }
                .btn-learn-more { margin-right: 1rem; }
            }
        }
    }
    #homepage-submit-story {
        .max-width-4 { max-width: 95%; }
    }

    #article-single {
        .article-meta {
            float: none;
            &.mt4 { margin-top: 1rem; }
        }
        .article-tags { margin-top: 0; }
        .article-title {
            padding: 0 1rem;
            line-height: 4.25rem;
            word-break: break-word;
        }
        .article-tags {
            &.right { float: none; }
        }
        .lead {
            width: 100%;
            padding: 0 1rem;
            margin: 0.5rem 0;
        }
        .social {
            width: 11rem;
            margin-bottom: 1.5rem;
        }
        .article-body {
            .article-body-content {
                p, ul, h1, h2, h3, h4, h5, h6 {
                    margin-left: 0;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                ul { padding-left: 2.5rem; }
                img {
                    max-width: 100%;
                    &.fit-text {
                        margin-left: 0;
                        max-width: 100%;
                    }
                }

                .m20 { margin-left: inherit; }
                p.highlight {
                    margin-left: 1rem;
                    margin-right: 1rem;
                    padding-left: 1rem;
                    width: 95%;
                    border-bottom: none;
                    border-left: 5px solid $pink;
                }
            }
        }

        &.case-study {
            .data-body-content {
                margin-left: 1rem;
                margin-right: 1rem;

                dl {
                    dt {
                        float: none;
                        width: 50%;
                    }
                    dd { width: 85%; }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    .width-4 { width: $breakpoint-md; }
    .h1-5 { line-height: 4.2rem; }
    #articles-filter {
        .max-width-4 { max-width: $breakpoint-md; }
    }
    #partners {
        .max-width-4 { max-width: $breakpoint-md; }
    }

    #article-single {
        .article-meta {
            &.mt4 { margin-top: 1rem; }
        }
        .article-tags {
            margin-top: 1rem;
        }
        .article-title {
            padding: 0 1rem;
            line-height: 4.25rem;
        }
        .article-body {
            .article-body-content {
                p, ul, h1, h2, h3, h4, h5, h6 {
                    margin-left: 10%;
                    padding-right: 1rem;
                }
                ul { padding-left: 2.5rem; }
                img { max-width: 100%; }
                p.highlight {
                    margin-left: 1rem;
                }
            }
        }
    }

    &.case-study {
        .data-body-content {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}

@media (min-width: $breakpoint-lg) {
    .width-4 { width: $breakpoint-lg; }
    #article-single {
        .article-body {
            .article-body-content {
                img { max-width: 100%; }
            }
        }
    }
}

@media (min-width: $breakpoint-xl) {
    .width-4 { width: $breakpoint-xl; }
}