/**
* Description: WWFadria Project.
* Version: 0.0.1
* Last update: 2016/04/D16
* Author: tiborkr <tibor@floatingpoint.io>
* Additional: Setup by Yeoman Webapp
* Summary:
*
*  0. BOOTSTRAP
*  1. GENERAL
*/

/* ==========================================================================
0. BOOTSTRAP
========================================================================== */

$icon-font-path: '../fonts/';

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300400,600,500,700|Lato:400,700');


$font-family-sans-serif-custom: 'Lato', sans-serif !default;

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

/* mixin */
@mixin long-shadow($type, $color, $length, $fadeout: true, $skew: false, $direction: right){
  $shadow: '';
  @if $skew == false or $type == text{
    @if $direction == right {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color + ',';
      }
    }
    @if $direction == left {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $color + ',';
       }
      }
     }

   @if $fadeout == true {
    @for $i from 1 to $length - 1 {
      @if $type == text or $skew == false {
        @if $direction == right {
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
        }
        @if $direction == left {
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
        }
      }
      @if ($type == box) and $skew == true{
        @if $direction == right {
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
        @if $direction == left {
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
      }
  }
  $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba($color, 0);
 }
 @if $fadeout == false {
    @if $skew == true and ( $type == box ){
        @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .1 + 'px ' + $color + ',';
      }
   }
    $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba(0,0,0,0);
 }
 $shadow: unquote($shadow);
  @if $type == 'box' {box-shadow: $shadow;}
  @if $type == 'text' {text-shadow: $shadow;}
}

/* Color scheme
   ========================================================================== */

$color-primary-0: #2cc185;  // Main Primary color */
$color-primary-1: #7be1b8;
$color-primary-2: #4ed09b;
$color-primary-3: #09b570;
$color-primary-4: #008d54;

$color-secondary-1-0: #ffac3a;  // Main Secondary color (1) */
$color-secondary-1-1: #ffce8b;
$color-secondary-1-2: #ffbc5f;
$color-secondary-1-3: #ff990d;
$color-secondary-1-4: #cf7800;

$color-secondary-2-0: #ec366a;  // Main Secondary color (2) */
$color-secondary-2-1: #f686a6;
$color-secondary-2-2: #f05a85;
$color-secondary-2-3: #e80c4a;
$color-secondary-2-4: #ba0035;

.color-secondary-1-0 {
    color: $color-secondary-1-0;
}

//
// =Global
// --------------------------------------------------

.bg-inverse {
    color: #fff;

    a,
    a:focus,
    a:hover {
        color: #fff;
    }
}

.bg-inverse-custom {
    margin-top: 1.1875rem;
    background-color: transparent;
}

.bg-white {
    background-color: #fff;
    .read-more {
      color: #365432;
    }
}

.section-intro,
.section-features,
.section-pricing,
.section-testimonials,
.section-text,
.section-signup {
    padding-top: 2.8125rem;

}

.section-title {
  border-bottom: 1px dotted;
  padding-bottom: 1em;
}

@include media-breakpoint-down(sm) {.p-y-lg {
        padding-bottom: ($spacer-y * .5) !important;
        padding-top: ($spacer-y * .5) !important;

    }
}

.textselect-off { user-select: none; }

.read-more {
    border-bottom: 0 solid;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    transition: border-bottom-width .05s ease-out;

  &:hover {
    border-bottom-width: 4px;
    text-decoration: none;
    transition: border-bottom-width .15s ease-out;
  };

  &::before,
  &::after {
    content: '~';
    padding: 0 .235em;
  }
}

.quote {
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
}

//  ---  Not working
// .tab-content {
//     opacity: 0;
//     transition: opacity .1s ease-in-out;
//     & > .active {
//         opacity: 1;
//         transition: opacity .2s ease-in-out;
//     }
// }
/* Navigation
   ========================================================================== */

.nav-flex-tabs {
    ul {
        display: flex;
        justify-content: space-between;
    }
}

.tabs-style-line {
    .nav-link {
        position: relative;
        color: $color-primary-4;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 18px;
        &::after {
            position: absolute;
            display: block;
            height: 4px;
            width: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: $color-secondary-2-1;
            content: '';
            transition: height .15s ease;
        }

        &.active {
            &::after {
                width: 100%;
                content: '';
                transition: width .15s ease;
            }
        }
    }
}



/* ==========================================================================
1. GENERAL
========================================================================== */
body {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 60px;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    position: absolute;

}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* ==========================================================================
2. NAVBAR
========================================================================== */

.navbar-toggler {
    border: 0;
    border-radius: 0;
    // margin-top: 1.5625rem;
    // margin-left: .75rem;
    font-size: 1.25rem;
    padding: 0;

&:focus {
    outline: 0;
}
}

.bg-inverse .navbar-toggler {
    color: rgba(255, 255, 255, .75);

    &:focus,
    &:hover {
        color: #fff;
    }
}

.navbar-toggler-custom {
    margin-top: 1.8125rem;
    font-size: 1.55rem;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.2;
    box-shadow: 1px 0 1px 1px rgba(0,0,0,0.1);
}

.navbar-light {
    &.bg-custom {
        background-color: rgba(255, 255, 255, .5);

        .nav-link {
            color: #777;
            position: relative;
            &.active {
                color: initial;
                &::after {
                    content: '';
                    height: 4px;
                    background-color: $color-primary-0;
                    display: block;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
}

.navbar-nav .nav-link {
    padding-bottom: 10px;
    padding-top: 10px;

    @include media-breakpoint-up(md) {
        padding: 1.2rem 1rem;
    }
}

.nav-inline .nav-item + .nav-item,
.navbar-nav .nav-item + .nav-item {
    margin-left: 0;
}

.navbar-nav .nav-dropdown-search .nav-link {
    padding: 1.8125rem 1rem 1.9375rem;
}

.navbar-toggleable-custom {
    @include media-breakpoint-down(sm) {
        clear: both;
    }
}

#collapsingNavbar,
#collapsingNavbarInverse {
    @include media-breakpoint-up(md) {
        display: block !important;
    }
}

@include media-breakpoint-down(sm) {
    .navbar-nav {
        float: none !important;
        width: 100%;

        .nav-item {
            display: block;
            float: none;
            margin: 0 0 1px;
            text-align: right;
            background-color: #fff;
        }
    }
    .navbar-light .navbar-nav {
        .nav-item {
            background-color: transparent;
        }

        .nav-link {
            display: block;
            color: darken(#fff, 20%);
            &:focus,
            &:hover {
                color: #fff;
            }
        }

        .active .nav-link {
            color: #fff;
        }
    }

    .bg-inverse-custom .navbar-nav {

        .nav-item {
            background-color: #fff;
        }

        .nav-link {
            padding: 1rem;
            color: lighten($gray, 20%);
            &:focus,
            &:hover {
                color: $gray;
            }
        }

        .active > .nav-link {
            color: $brand-primary !important;
        }
    }
}

.navbar-fixed-top { position: absolute; }

.navbar-brand {
    padding: 0;
    margin: 0;
}

.icon-logo {
  position: absolute;
  top: -5px;
  display: block;
  z-index: 3;
  text-indent: -9999px;
  width: 80px;
  height: 96px;
  background: url('../images/WWF_logo.svg');
  background-size: 100% 100%;
  //background-position: -10px 0;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .5);
}

.navbar-nav .active > .nav-link {

    @include media-breakpoint-down(sm) {
        color: $brand-primary;
    }

    @include media-breakpoint-up(md) {
        position: relative;

        &::after {
            position: absolute;
            right: 1rem;
            bottom: 1.375rem;
            left: 1rem;
            height: 2px;
            content: '';
            background-color: rgba(66, 71, 83, .2);
        }
    }
}

.navbar-dark .navbar-nav .active > .nav-link {

    @include media-breakpoint-up(md) {
        position: relative;

        &::after {
            background-color: rgba(255, 255, 255, .2);
        }
    }
}

.navbar-divider {
    width: 5px;
    height: 5px;
    padding: 0;
    margin: 2.375rem .5rem;
    background: rgba(66,71,83,.2);
    border-radius: 50%;

    .navbar-dark & {
        background: rgba(255, 255, 255, .2);
    }
}

.dropdown.open .icon-search:before {
content: '\e612'; // close search icon
}

.dropdown-menu {
    padding: 1.5rem 1.75rem;
    margin-top: 0;
    border: 0 none;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);

    .media {
        padding-bottom: 1.25rem;
        margin-bottom: 1.25rem;
        color: $gray;
        border-bottom: 1px solid #e9eaec;
    }

    .text-muted {
        color: rgba(66, 71, 83, .4) !important;
    }
}

.dropdown-menu-animated {
    display: block;
    padding: 1.5rem 1.75rem;
    margin-top: 0;
    visibility: hidden;
    border: 0 none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
    opacity: 0;
    transition: opacity .5s, transform .5s, visibility 0s .5s;
    transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    transform: scale3d(.95, .95, 1) translate3d(0, -15px, 0);
    transform-origin: 100% 0;
}

.open {

    > .dropdown-menu-animated {
        visibility: visible;
        opacity: 1;
        transition: opacity .5s, transform .5s;
        transition-timing-function: cubic-bezier(.2, 1, .3, 1);
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
}

.dropdown-menu-custom {
    overflow-y: hidden;
    background-color: #fff;
    border: 0 none;

    .media {
        margin-bottom: 1.5rem;
        color: $gray;
    }

    .text-muted {
        color: rgba(66, 71, 83, .4) !important;
    }
}

.dropdown-item {
    padding: 0 0 .625rem;
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.1538;

    & + & { padding-top: .625rem; }

    &:hover,
    &:focus {
        background-color: transparent;
    }
}

.bg-inverse .dropdown-item {
    color: $gray;

    &:focus,
    &:hover {
        color: $brand-primary;
        background-color: transparent;
    }
}

h5 {
    font-weight: 600;
    line-height: 1.2;
}

h6 {
    font-weight: 300;
    line-height: 1;
}

.btn-circle {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    font-size: 1.25rem;
    line-height: 2.2;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    opacity: .8;

    &:focus,
    &:hover {
        color: #fff;

        @include gradient-directional(#663fb5, #663fb5);
    }
}

.has-gradient {
    @include gradient-directional(#663fb5, #2b8be3);
}

.dropdown-menu-search {
    padding: 0;
    margin: 0;
    box-shadow: none;

    @include media-breakpoint-up(sm) {
        position: absolute;
        top: 1.375rem;
        right: 3.5rem;
        min-width: 22rem;
        background-color: transparent;
    }
}

.navbar-form .form-control {
padding: 1rem 0 1rem 15px;
font-size: 1rem; // prevents tap-zooming on mobile
font-weight: 600;
line-height: 1.2;
background: transparent;
border: 0;
box-shadow: none;

@include media-breakpoint-up(md) {
    padding: .5625rem .625rem;
    font-size: .9375rem;
    border-radius: 0;
    box-shadow: inset 0 -2px 0 rgba(66, 71, 83, .2);

    &::-webkit-input-placeholder { color: $gray; }
    &:-moz-placeholder { color: $gray; }
    &::-moz-placeholder { color: $gray; }
    &:-ms-input-placeholder { color: $gray; }
}

&:hover { cursor: pointer; }

&:focus {
    box-shadow: none;

    @include media-breakpoint-up(md) {
        box-shadow: inset 0 -2px 0 rgba(66, 71, 83, .2);
    }
}
}

.bg-inverse .navbar-form .form-control {

    @include media-breakpoint-up(md) {

        color: #fff;
        box-shadow: inset 0 -2px 0 rgba(255, 255, 255, .2);

        &::-webkit-input-placeholder { color: #fff; }
        &:-moz-placeholder { color: #fff; }
        &::-moz-placeholder { color: #fff; }
        &:-ms-input-placeholder { color: #fff; }
    }
}

.icon-search {
    display: block;
    font-size: 1.25rem;
}

.dropdown-toggle {

    &:hover { cursor: pointer; }

    &::after {
display: none; // no BS caret
}

img {
    margin-right: .5rem;
    box-shadow: 0 0 0 4px $gray;
}

span { vertical-align: middle; }
}

.bg-inverse .dropdown-toggle {
    img {
        box-shadow: 0 0 0 4px #fff;
    }
}

.nav-dropdown-search {
    @include media-breakpoint-up(sm) {
        margin-top: 0;
    }
}

.navbar-nav .nav-dropdown-user {
    padding: 1.25rem 0 1.3125rem .5rem;
}

.dropdown-menu-user { top: 104%; }

// Scroll Nav
@include media-breakpoint-up(md) {

    .scroll-nav {
        position: fixed;
        top: 50%;
        right: 5%;
        z-index: 2;
        transform: translateY(-50%);

        a {
            width: 17px;
            height: 17px;
            color: #fff;
            background-color: #fff;
            border-radius: 50%;

            &.active {
                border: 4px solid rgba(255, 255, 255, .25);
            }
        }
    }
}

//
// =Header
// --------------------------------------------------

html,
body {
    width: 100%;
    height: 100%;
}

$custom-min-width: map-get($grid-breakpoints, 'xs');
$custom-min-height: 37.5em; // 600

// static

.jumbotron {
    margin-bottom: 0;
    background: transparent;
    // background: #663fb5 url(../images/hero.jpg) no-repeat center bottom;
    // background-size: cover;
    border-radius: 0;
    padding: 0;

    .btn { padding: 1.2rem 2rem; }

    a.jumbolink {
        opacity: .6;
        transition: opacity .175s;
    }

    a.jumbolink:hover,
    a.jumbolink:focus {
        opacity: 1;
    }
    &.ecosystem-services {
        padding-top: 7rem;
        background: #663fb5 url(../images/hero-services.jpg) no-repeat center bottom;
        background-size: cover;
        border-radius: 0;

        @include media-breakpoint-down(sm) {
        padding-top: 6.25rem;
        }
    }
    &.partnerships {
        padding-top: 7rem;
        background: #663fb5 url(../images/hero-pp.jpg) no-repeat center bottom;
        background-size: cover;
        border-radius: 0;

        @include media-breakpoint-down(sm) {
        padding-top: 6.25rem;
        }
    }
}

.map-wrapper {
    &.index {
        background-color: #026873;
    }

    svg {

        .subunit {
            fill: rgb(176, 206, 155);
            transition: fill .05s ease-in-out;
            cursor: pointer;
        }
        // .subunit.BIH { fill: #bad696; }
        // .subunit.HRV { fill: #bad696; }
        // .subunit.KOS { fill: #bad696; }
        // .subunit.MKD { fill: #bad696; }
        // .subunit.MNE { fill: #bad696; }
        // .subunit.SRB { fill: #bad696; }
        // .subunit.SVN { fill: #bad696; }

        .subunit:hover {
            fill: rgb(250, 79, 71);
            transition: fill .1s ease-in;
        }

        .subunit-boundary {
            fill: none;
            stroke: #777;
            stroke-dasharray: 2, 2;
            stroke-linejoin: round;
        }

        .others-all {fill: #027073;}

        .others-boundary {
            fill: none;
            //stroke: rgba(0,0,0,0.15);
            //stroke-dasharray: 4,6;
            stroke-width: .8px;
            stroke-linejoin: round;
        }
    }
}

.chart-wrapper {
    .click-me-1 {
        text-decoration: underline;
        cursor: pointer;
    }
    .toggled {
            .untogg {
            visibility: hidden;
            display: none;
        }
        .togg {
            visibility: visible;
            display: initial;
        }
    }
    .togg {
        visibility: hidden;
        display: none;
    }
}

.center-vertically {
    @media (min-width: $custom-min-width) and (min-height: $custom-min-height) {
        display: table;
        width: 100%;
        height: 100%;
        padding: 0;

        > div {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

//
// =Text
// --------------------------------------------------
.image-block {
    width: 100%;
    max-height: 270px;
    display: block;
    margin: 20px auto 60px;
}
.separator-x {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: -20%;
    display: block;
    width: 1px;
    height: 100%;
    content: '';
    background-color: #ededed;
  }
}

.text-image {
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2);
    float: left;
    margin-right: 2rem;
}

.section-text {
    & div[class^='col-md-'] {
    margin-bottom: 3rem;
    }
}

//
// =Testimonials
// --------------------------------------------------

.svg-mask {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;

  &.services-food {
    mask: url('../images/services_food.svg') no-repeat 73% 50%;
  }
  &.services-materials {
    mask: url('../images/services_raw_materials.svg') no-repeat 48% 50%;
  }
  &.services-water {
    mask: url('../images/services_water.svg') no-repeat 46% 50%;
  }
  &.services-medicine {
    mask: url('../images/services_medicine.svg') no-repeat 50% 50%;
  }

  &.services-climate {
    mask: url('../images/services_climate.svg') no-repeat 50% 50%;
  }
  &.services-carbon {
    mask: url('../images/services_carbon.svg') no-repeat 50% 50%;
  }
  &.services-moderation {
    mask: url('../images/services_moderation.svg') no-repeat 50% 50%;
  }
  &.services-waste-treatment {
    mask: url('../images/services_waste_treatment.svg') no-repeat 50% 50%;  }

  &.services-erosion {
    mask: url('../images/services_erosion.svg') no-repeat 50% 50%;
  }
  &.services-pollination {
    mask: url('../images/services_pollination.svg') no-repeat 50% 50%;
  }
  &.services-bio-control {
    mask: url('../images/services_bio_control.svg') no-repeat 50% 50%;
  }
  &.services-habitat {
    mask: url('../images/services_habitat.svg') no-repeat 50% 50%;
  }
  &.services-genetic {
    mask: url('../images/services_genetic.svg') no-repeat 50% 50%;
  }
  &.services-recreation {
    mask: url('../images/services_recreation.svg') no-repeat 50% 50%;
  }
  &.services-tourism {
    mask: url('../images/services_tourism.svg') no-repeat 50% 50%;
  }
  &.services-inspiration {
    mask: url('../images/services_inspiration.svg') no-repeat 50% 50%;
  }
  &.services-spiritual {
    mask: url('../images/services_spiritual.svg') no-repeat 50% 50%;
  }
  .section-testimonials & {
    background-color: #fcfcfc;
  }
  .section-text & {
    margin-bottom: 2em;
  }
  .carousel-indicators & {
    width: 50px;
    height: 50px;
  }
}

.provisioning-services {
  h2 {
    color: #E27A3F;
  }
  .svg-mask {
    background-color: #E27A3F;
  }
}

.regulating-services {
  h2 {
    color: #45B29D;
  }
  .svg-mask {
    background-color: #45B29D;
  }
}

.supporting-services {
  h2 {
    color: #EFC94C;
  }
  .svg-mask {
    background-color: #EFC94C;
  }
}

.cultural-services {
  h2 {
    color: #DF5A49;
  }
  .svg-mask {
    background-color: #DF5A49;
  }
}

.section-testimonials {
  background: #628773;
  background-size: cover;
  color: #fcfcfc;

  .blockquote {
    margin: 1rem auto 2rem;
    border-left: 0 none;

    @include media-breakpoint-up(md) {
      max-width: 60rem;
    }

    > .svg-mask {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: .4375rem;
      font-weight: 100;
      line-height: 1.464;

      &:before {
        content: '\201c';
      }

      &:after {
        content: '\201d';
      }
    }

    header {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.1875;
      margin: 1rem auto;
    }
  }

  .carousel-indicators {
    position: inherit;
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0 0 2.1875rem;

    img {
      width: 45px;
      height: 45px;
      margin: 5.5px auto 0;
      transition: all .1s ease-in-out;
    }

    li {
      max-width: 60px;
      background-color: inherit;
      width: 60px;
      height: 60px;
      margin: 0;
      text-indent: inherit;
      border: 0;
      border-radius: 0;
      opacity: .25;
      transition: opacity .2s;

      &:hover { opacity: .9; }

      &.active {
        margin: 0;
        background-color: transparent;
        opacity: 1;

        img {
          width: 56px;
          height: 56px;
          margin-top: 0;
        }
      }
    }
  }
}

//
// =Features
// --------------------------------------------------

.section-features {
  .card {
    padding-right: 0;
    padding-left: 0;
    margin: 3rem auto;
    border: 0 none;
  }

  .card-block {
    padding: 0;

    @include media-breakpoint-up(md) {
      padding: 0 1.25rem;
    }
  }
}


.card-title {
  margin-bottom: 5px;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.1666;
}

.card-subtitle {
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;

  @include media-breakpoint-up(sm) {
    margin-bottom: 1.5625rem;

    &:after {
      display: block;
      width: 80%;
      height: 1px;
      margin: 30px auto 0;
      content: '';
      background-color: #ededed;
    }
  }
}

.card-text { font-weight: 300; }

.card-basic {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 2em;
}

/* OL list */

ol.simple-list {
    list-style-type: none;
    margin: 0;
    margin-left: 3em;
    padding: 0;

    counter-reset: li-counter;
}
ol.simple-list > li{
    position: relative;
    margin-bottom: 3em;
    padding-left: 0.5em;
    min-height: 3em;
}
ol.simple-list > li:before {
    position: absolute;
    top: 0;
    left: -1.25em;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background-color: $color-primary-1;

    font-size: 3em;
    line-height: 1;
    text-align: center;
    color: $color-secondary-2-2;
    @include long-shadow(text, $color-primary-2, 35, true, false, right);

    content: counter(li-counter);
    counter-increment: li-counter;
}

//
// =Footer
// --------------------------------------------------

.section-footer {
    padding-top: 1.2rem;
    padding-bottom: 1rem;

    .icon-logo {
        position: relative;
        top: 0;
        width: 70px;
        height: 85px;
    }

    @include media-breakpoint-up(md) {
        padding-bottom: 1.2rem;
    }

    small {
        font-size: .8125rem;
        line-height: 1.538;
    }

// .media {
//   @include media-breakpoint-down(sm) {
//     margin-bottom: 2rem;
//     text-align: center;
//   }

//   @include media-breakpoint-up(md) {
//     padding-top: 1.75rem;
//   }

//   @include media-breakpoint-up(lg) {
//     padding-top: 0;
//   }

//   @include media-breakpoint-up(xl) {
//     padding-top: .55rem;
//   }
// }

    .media-left {
        padding-right: 1.75rem;

        @include media-breakpoint-down(sm) {
            display: block;
            padding: 0;
            margin: 0 0 1rem;
        }
    }

    .nav-inline {
        font-size: .9375rem;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: right;
        }

        @include media-breakpoint-up(xl) {
            padding-top: 1.65rem;
        }

        > li {
            padding-right: 1rem;
            padding-left: 1rem;

            @include media-breakpoint-down(sm) {
                display: block;
                text-align: center;
            }

            @include media-breakpoint-up(xl) {
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            &.active a {
                box-shadow: 0 2px 0 rgba(66, 71, 83, .2);
            }

            a {
                display: inline-block;
                padding-top: .5rem;
                padding-bottom: .5rem;
                margin-bottom: .5rem;

                @include media-breakpoint-down(lg) {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }

    .icon-caret-up {
        margin-left: .25rem;
        font-size: 20px;
        vertical-align: middle;

        @include media-breakpoint-down(sm) {
            display: block;
            margin: 1rem 0;
        }
    }
}

.section-footer.bg-inverse {
    color: #fff;

    .nav-inline > li {
        &.active a {
            box-shadow: 0 2px 0 rgba(255, 255, 255, .2);

            &:focus,
            &:hover {
                color: #fff;
            }
        }

        a {
            &:focus,
            &:hover {
                color: rgba(255, 255, 255, .6);
            }
        }
    }
}


// =Additional
//  Author: Antonio
// --------------------------------------------------

//Image links
.img-thumbnail {
    position:       static;
    height:         270px;
    width:          290px;
    margin:         5px;
    padding:        10px;
    border-radius:  25px;
}

.img-thumbnail:hover {
    background-color: #027073;
}

//Search button
#searchform {
    font-size:      100px;
    padding:        100px 28% 20px 28%;
}

span:hover {
    cursor:         pointer;
}

ol li h2:hover {
    cursor:         pointer;
}

ol li a:hover {
    text-decoration: none;
}

ol li.list-group-item {
    list-style: decimal inside;
    display: list-item;
    font-family: 'Raleway', sans-serif;
}

ol li.nostyle {
    list-style: none;
}

ol .list-group-item {
    font-size: 28px;
    text-align: justify;
}

ol li p {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

p {
    text-align: justify;
    text-indent: 10px;
}

@media (min-width: 1200px) {.modal-lg {width: 900px;}}

ul li{
    list-style:none;
    text-align: justify;
}

.list-group .list-group-item {
    border: none;
}


/* ==========================================================================
                                DONUT
========================================================================== */
.donut-text {
  font-family: sans-serif;
  font-size: 4rem;
  letter-spacing: -.2rem;
  font-weight: 600;
  line-height: 12rem;
  fill: #0096D6;
}

.donut {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: inline-block;
}

path.color0 {
  fill: #0096D6;
}

path.color1 {
  fill: lighten(#0096D6, 50%);
}
/* ==========================================================================
                              DONUT END
========================================================================== */

.chart-container {
    padding: 10px 20px;
    display: inline-block;
}

.counter-text{
  font-family: sans-serif;
  font-size: 4rem;
  letter-spacing: -.2rem;
  font-weight: 600;
  line-height: 12rem;
  color: #0096D6;
}