<div class="country-banner banner {{ country_banner_image_class }} flex items-start flex-column justify-center">
	<h1 class="banner-title lg-ml10 mx-auto col-10 lg-col-6">{{ this.h1_title }}</h1>
	<p class="banner-quote mt3 lg-ml10 mx-auto col-10 lg-col-6">{{ this.banner_message }}</p>
	<a href="#content" class="block banner-button {{ country_border_gradient_class }} flex items-center justify-center mt3 lg-ml10 mx-auto">
		<p class="mx3 default-color-1">{{ this.banner_button_text }}</p>
	</a>
</div>
