<section id="facts" class="bg-si-green-cyan py4">
  <div class="max-width-4 mx-auto">
    <div class="clearfix">
      <div class="md-col md-col-4 p2">
        <div class="box-shadow p2 center bg-white-dirty">
          <h3 class="h4 bold">{{ this.facts_card_1_title }}</h3>

          <!-- FIX -->
          <div class="mt4 index-visitor-wrapper">
            <div class="index-counter bosnian-color-1" id="counter">2590320</div>
            <i class="icon-visitors bosnian-background-color-1"></i>
          </div>

          <a href="#" class="btn border-ba-blue-yellow">{{ this.facts_cta }}</a>
        </div>
      </div>
      <div class="md-col md-col-4 p2 center">
        <div class="box-shadow p2 bg-white-dirty">
          <h3 class="h4 bold">{{ this.facts_card_2_title }}</h3>

          <!-- FIX -->
          <div class="p1 mt3 flex items-center justify-center">
            <div class="donut" id="pie77" data-donut="77"></div>
          </div>

          <a href="#" class="btn border-ba-blue-yellow">{{ this.facts_cta }}</a>
        </div>
      </div>
      <div class="md-col md-col-4 p2 center">
        <div class="box-shadow p2 bg-white-dirty">
          <h3 class="h4 bold">{{ this.facts_card_3_title }}</h3>

          <!-- FIX -->
          <div class="p1 mt3 flex items-center justify-center">
            <div class="donut" id="pie77" data-donut="77"></div>
          </div>

          <a href="#" class="btn border-ba-blue-yellow">{{ this.facts_cta }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
