<section id="homepage-facts" class="bg-si-green-cyan py4">
	<div class="max-width-4 mx-auto clearfix">

		<section id="homepage-fact-1" class="md-col md-col-4 p2 center">
			<div class="box-shadow p2 bg-white-dirty py3">

				<div class="flex items-center justify-center" style="min-height: 220px">
					<div class="donut raleway-bold" id="homepage-fact-graph-1" data-donut="14"></div>
				</div>

				<p class="h5">{{ this.facts_card_1_title }}</p>
				<p class="h6">{{ this.facts_card_1_body }}</p>

				<a href="{{ this.facts_card_1_link }}" class="btn border-ba-blue-yellow">{{ this.facts_cta }}</a>
			</div>
		</section>

		<section id="homepage-fact-2" class="md-col md-col-4 p2 center">
			<div class="box-shadow p2 bg-white-dirty py3">

        <div class="flex items-center justify-center" style="min-height: 220px">
          <div class="w100 center counter-wrapper my2">
            <div class="counter raleway-bold h2">43%</div>
 	        </div>
        </div>

				<p class="h5">{{ this.facts_card_2_title }}</p>
				<p class="h6">{{ this.facts_card_2_body }}</p>

				<a href="{{ this.facts_card_2_link }}" class="btn border-ba-blue-yellow">{{ this.facts_cta }}</a>
			</div>
		</section>

		<section id="homepage-fact-3" class="md-col md-col-4 p2 center">
			<div class="box-shadow p2 bg-white-dirty py3">

				<div class="flex items-center justify-center" style="min-height: 220px">
					<div class="donut raleway-bold" id="homepage-fact-graph-3" data-donut="66"></div>
				</div>

				<p class="h5">{{ this.facts_card_3_title }}</p>
				<p class="h6">{{ this.facts_card_3_body }}</p>

				<a href="{{ this.facts_card_3_link }}" class="btn border-ba-blue-yellow">{{ this.facts_cta }}</a>
			</div>
		</section>
	</div>
</section>
