<section id="homepage-header" class="bg-homepage-cyan overflow-hidden flex justify-center items-center flex-column">

    <div class="full-width bg-homepage-green-wave pb0">
    	<div class="max-width-4 mx-auto center p2 mb0">
    		<h1 id="supertitle" class="playfair-heavy salmon h2 center mt4">{{ this.title }}</h1>
        	<p class="center pb0 px1 mb0 h5">{{ this.headline }}</p>
    	</div>
    </div>
    <div class="bg-homepage-green-wave-bottom"></div>


    <div class="full-width center py0">
        <div class="z1 px2 max-width-1 mx-auto center">
            <p>&nbsp;</p>
        </div>
    </div>

</section>
