<section id="homepage-learn-more" class="relative bg-white-dirty">
  <h2 class="absolute m0 ml2 playfair-heavy h0 lh0 opacity-20 blue-light sm-hide xs-hide">{{ this.learn_more_backline }}</h2>

  <div class="max-width-4 mx-auto py4">
    <div class="clearfix mt4">

      <div class="md-col md-col-4 p2">
        <div class="box-shadow center bg-white">
          <div class="card-image river-tourism"></div>
          <div class="px2 pb3">
            <h3 class="h4 bold">{{ this.learn_more_title_1 }}</h3>
            <a href="{{ '/wwf_examples'|url }}" class="btn border-hr-red-blue">{{ this.learn_more_cta }}</a>
          </div>
        </div>
      </div>

      <div class="md-col md-col-4 p2">
        <div class="box-shadow center bg-white">
          <div class="card-image hydropower"></div>
          <div class="px2 pb3">
            <h3 class="h4 bold">{{ this.learn_more_title_2 }}</h3>
            <a href="{{ '/sustainable_business'|url }}" class="btn border-hr-red-blue">{{ this.learn_more_cta }}</a>
          </div>
        </div>
      </div>

      <div class="md-col md-col-4 p2">
        <div class="box-shadow center bg-white">
          <div class="card-image protected-areas"></div>
          <div class="px2 pb3">
            <h3 class="h4 bold">{{ this.learn_more_title_3 }}</h3>
            <a href="{{ '/protected_areas'|url }}" class="btn border-hr-red-blue">{{ this.learn_more_cta }}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
