<section id="partners" class="full-width bg-homepage-cyan">

    <div class="partner-blurb max-width-4 mx-auto pt4 bg-homepage-cyan center">
        <h5 class="h6 mt0 mb1 px1">{{ this.partners_title }}</h5>
        <p class="mt0 px1">{{ this.partners_text }}</p>
    </div>

    <div class="partner-holder max-width-4 mx-auto pt1 pb4 flex flex-row items-center clearfix">
        <div class="list-reset partners-list center -flex -flex-wrap -content-around -items-center m0 p0 col col-12 cleafix">
            <div class="flex-1 flex items-center center px2 case case-wwf">
                <img src="/static/images/vectors/WWF_logo.svg" alt="WWF" title="WWF" class="self-stretch">
            </div>
            {% for path, title in bag('partners').iteritems() %}
            <div class="flex-1 flex items-center center px2 case case-{{ title|lower|urlencode|replace('%20', '-') }}">
                <img src="{{ path|url }}.png" srcset="{{ path|url }}@2x.png 2x" alt="{{ title }}" title="{{ title }}" class="self-stretch">
            </div>
            {% endfor %}
        </div>
    </div>

</section>