<section id="partners" class="mx1 full-width bg-homepage-cyan">

    <div class="partner-holder max-width-4 mx-auto py4 clearfix">
        <div class="partner-blurb col col-4">
            <h5 class="h6 mb1">{{ this.partners_title }}</h5>
            <p class="mt0">{{ this.partners_text }}</p>
        </div>
        <ul class="list-reset partners-list center flex flex-row justify-around m0 p0 col col-8">
            <li class="flex-1 center case case-wwf">
                <img src="/static/images/vectors/WWF_logo.svg" alt="WWF" title="WWF">
            </li>
            {% for path, title in bag('partners').iteritems() %}
            <li class="flex-1 center case case-{{ title|lower|urlencode|replace('%20', '-') }}">
                <img src="{{ path|url }}.png" srcset="{{ path|url }}@2x.png 2x" alt="{{ title }}" title="{{ title }}">
            </li>
            {% endfor %}
        </ul>
    </div>

</section>