<section id="search-bar" class="bg-homepage-cyan py2 px1">

    {% set uri = bag('search', 'search-uri') %}
    {% set query = bag('search', 'query-param') %}
    {% set lang = bag('search', 'lang-param') %}
    <div class="search-holder center max-width-4 mx-auto mb3 flex items-center">
        <form action="{{ uri }}" method="get" class="flex flex-warp items-center w100 px2">
            <input name="{{ query }}" type="text" class="input h70p w100 col-10 grey-dark bg-white h5 px2 border-none box-shadow-inner searchForm___input" placeholder="{{ this.search_placeholder_text }}">
            <button class="btn h4 white h70p uppercase border-none pointer bg-si-green bg-si-green-dark-hover js-search">{{ this.search_button_text }}</button>
            <input type="hidden" name="{{ lang }}" value="{{ this.alt }}">
        </form>
    </div>

</section>