<div class="bg-homepage-cyan-wave-bottom clearfix"></div>
<section id="homepage-submit-story" class="bg-homepage-blue-wave overflow-hidden z1 flex justify-center items-center flex-column">

	<div class="mx-auto max-width-4 mt3 mb4 bg-white box-shadow">
		<h4 class="black h4 center">{{ this.submit_title }}</h4>
    	<p class="black center px4">{{ this.submit_description }}</p>

    	<div class="center mb3">
    		<a href="#" class="btn bg-si-green bg-si-green-dark-hover white my2">
    			<span class="i-download3 mr1"></span> {{ this.submit_cta_button_text }}
            </a>
    	</div>
	</div>

</section>
