<div class="country-picker picker">
	<button class="p2">
		<span class="mt2 mr4 hide"></span>
		<i class="icon-arrow-drop-down ml10"></i>
	</button>
	<ul class="z2">
		<li data-countrycode="-" data-countryname="-"><a>-</a></li>
		<li data-countrycode="ALB" data-countryname={{ bag('country-names', this.alt, 'albania') }}>    <a>{{ bag('country-names', this.alt, 'albania') }}</a></li>
		<li data-countrycode="BIH" data-countryname={{ bag('country-names', this.alt, 'bosnia') }}>     <a>{{ bag('country-names', this.alt, 'bosnia') }}</a></li>
		<li data-countrycode="HRV" data-countryname={{ bag('country-names', this.alt, 'croatia') }}>    <a>{{ bag('country-names', this.alt, 'croatia') }}</a></li>
		<li data-countrycode="KOS" data-countryname={{ bag('country-names', this.alt, 'kosovo') }}>     <a>{{ bag('country-names', this.alt, 'kosovo') }}</a></li>
		<li data-countrycode="MKD" data-countryname={{ bag('country-names', this.alt, 'macedonia') }}>  <a>{{ bag('country-names', this.alt, 'macedonia') }}</a></li>
		<li data-countrycode="MNE" data-countryname={{ bag('country-names', this.alt, 'montenegro') }}> <a>{{ bag('country-names', this.alt, 'montenegro') }}</a></li>
		<li data-countrycode="SRB" data-countryname={{ bag('country-names', this.alt, 'serbia') }}>     <a>{{ bag('country-names', this.alt, 'serbia') }}</a></li>
		<li data-countrycode="SVN" data-countryname={{ bag('country-names', this.alt, 'slovenia') }}>   <a>{{ bag('country-names', this.alt, 'slovenia') }}</a></li>
	</ul>
</div>
