<div class="max-width-4 mx-auto xs-hide sm-hide">

    <div class="clearfix graph-type-picker flex flex-wrap" id='graph-type-picker-wide'>

        <div class="sm-col sm-col-3 p2 flex-1">
            <a id="graph-card-overall" href="javascript://" class="graph-card block box-shadow h-100 center p3" data-graphid="overall">
                <i class="h1 icon-overall-value"></i>
                <p class="h5 bold mb0">{{ this.overall_values }}</p>
            </a>
        </div>
        <div class="sm-col sm-col-3 p2 flex-1">
            <a id="graph-card-overall_econ" href="javascript://" class="graph-card block box-shadow h-100 center p3" data-graphid="overall_econ">
                <i class="h1 icon-economic-value"></i>
                <p class="h5 bold mb0">{{ this.econ_values }}</p>
            </a>
        </div>
        <div class="sm-col sm-col-3 p2 flex-1">
            <a id="graph-card-flow_econ" href="javascript://" class="graph-card block box-shadow h-100 center p3" data-graphid="flow_econ">
                <i class="h1 icon-flow-of-value"></i>
                <p class="h5 bold mb0">{{ this.flow_econ_value }}</p>
            </a>
        </div>
        <div class="sm-col sm-col-3 p2 flex-1">
            <a id="graph-card-potentials" href="javascript://" class="graph-card block box-shadow h-100 center p3" data-graphid="potentials">
                <i class="h1 icon-potentials"></i>
                <p class="h5 bold mb0">{{ this.potential }}</p>
            </a>
        </div>

    </div>
</div>
