<div class="max-width-4 mx-auto">
    <div class="clearfix graph-type-picker flex flex-wrap">

        <div class="sm-col sm-col-4 p2 flex-1">
            <a href="javascript://" class="graph-card h100 center p3 block hr-blue white-hover" data-graphid="1">
                <i class="icon-Overall_economic_value_icon graph-card-icon"></i>
                <p class="h5 bold mb0">{{ this.econ_value }}</p>
            </a>
        </div>
        <div class="sm-col sm-col-4 p2 flex-1">
            <a href="javascript://" class="graph-card h100 center p3 block hr-blue white-hover" data-graphid="2">
                <i class="icon-Flow_of_economic_value_icon graph-card-icon"></i>
                <p class="h5 bold mb0">{{ this.flow_econ }}</p>
            </a>
        </div>
        <div class="sm-col sm-col-4 p2 flex-1">
            <a href="javascript://" class="graph-card h100 center p3 block hr-blue white-hover" data-graphid="3">
                <i class="icon-Main_potential_icon graph-card-icon"></i>
                <p class="h5 bold mb0">{{ this.potential }}</p>
            </a>
        </div>

    </div>
</div>
