      <section id="sub-data" class="sub-data clearfix mt1 mb2 py2 flex flex-row flex-stretch justify-around">
        <div class="data-item flex-1 mx1 bg-white-dirty box-shadow">
          <div class="clearfix center p2">
            <h5 class="h6 mb1 black">{{ bag('i18n', this.alt, 'organization') }}</h5>
            <p class="black">{{ this.organization }}</p>
          </div>
        </div>
        <div class="data-item flex-1 mx1 bg-white-dirty box-shadow">
          <div class="clearfix center p2">
            <h5 class="h6 mb1 black">{{ bag('i18n', this.alt, 'country') }}</h5>
            <p class="black">{{ this.country }}</p>
          </div>
        </div>
        <div class="data-item flex-1 mx1 bg-white-dirty box-shadow">
          <div class="clearfix center p2">
            <h5 class="h6 mb1 black">{{ bag('i18n', this.alt, 'location') }}</h5>
            <p class="black">{{ this.location }}</p>
          </div>
        </div>
        <div class="data-item flex-1 mx1 bg-white-dirty box-shadow">
          <div class="clearfix center p2">
            <h5 class="h6 mb1 black">{{ bag('i18n', this.alt, 'protection-level') }}</h5>
            <p class="black">{{ this.level }}</p>
          </div>
        </div>
      </section>
