      <section id="main-data" class="main-data clearfix mt1 mb2 flex flex-row flex-stretch justify-around">
        <div class="data-item flex-1 bg-white-dirty mx1 py3 center box-shadow">
          <div class="clearfix">
            <img src="/static/images/icons/icon-people.png" srcset="/static/images/icons/icon-people@2x.png 2x" alt="">
            <h5 class="h5 mb1 black uppercase">{{ bag('i18n', this.alt, 'people') }}</h5>
            <p class="pink"><strong>{{ this.people }}</strong></p>
          </div>
        </div>
        <div class="data-item flex-1 bg-white-dirty mx1 py3 center box-shadow">
          <div class="clearfix">
            <img src="/static/images/icons/icon-money.png" srcset="/static/images/icons/icon-money@2x.png 2x" alt="">
            <h5 class="h5 mb1 black uppercase">{{ bag('i18n', this.alt, 'money') }}</h5>
            <p class="pink"><strong>{{ this.money }}</strong></p>
          </div>
        </div>
        <div class="data-item flex-1 bg-white-dirty mx1 py3 center box-shadow">
          <div class="clearfix">
            <img src="/static/images/icons/icon-time.png" srcset="/static/images/icons/icon-time@2x.png 2x" alt="">
            <h5 class="h5 mb1 black uppercase">{{ bag('i18n', this.alt, 'time') }}</h5>
            <p class="pink"><strong>{{ this.time }}</strong></p>
          </div>
        </div>
      </section>