{% macro cta_box(title, subtitle, cta_button_text, url, icon) %}
        <div class="mx-auto max-width-2 mt3 mb2 py1 px2 bg-white-dirty box-shadow">
            <h4 class="black h4 center">{{ title }}</h4>
            <p class="black center px4">{{ subtitle }}</p>

            <div class="center mb3">
                <a href="{{ url }}" class="btn bg-si-green bg-si-green-dark-hover white my2">
                    <span class="i-arrow-right2 mr1"></span> {{ cta_button_text }}
                </a>
            </div>
        </div>
{% endmacro %}

{% macro cta_box_download(title, subtitle, cta_button_text, url, icon) %}
        <div class="mx-auto max-width-2 mt3 mb2 py1 px2 bg-white-dirty box-shadow">
            <h4 class="black h4 center">{{ title }}</h4>
            <p class="black center px4">{{ subtitle }}</p>

            <div class="center mb3">
                <a href="{{ url }}" class="btn bg-si-green bg-si-green-dark-hover white my2">
                    <span class="i-download3 mr1"></span> {{ cta_button_text }}
                </a>
            </div>
        </div>
{% endmacro %}