<section id="articles-filter">

    <div class="max-width-4 mx-auto py2 px3 clearfix box-shadow bg-white">
        <div class="left">
            <h3 class="m0 p0">See how others are helping to preserve the environment</h3>
            <p class="m0 p0">Filter topics that you're intrested in</p>
        </div>

        <div class="right">
            <span class="label rounded inline-block black border border-pink py1 px2">products</span>
            <span class="label rounded inline-block black border border-pink py1 px2">education</span>
            <span class="label rounded inline-block black border border-pink py1 px2">tourism</span>
            <span class="label rounded inline-block black border border-pink py1 px2">business</span>
        </div>
    </div>

</section>