<section id="articles-filter">

    <div class="articles-filter-content max-width-wide mx-auto px2">
        <div class="bg-white box-shadow py2 px3 clearfix">
            <div class="mb1">
                {#<h3 class="m0 p0">{{ this.filter_title }}</h3>#}
                <p class="m0 p0"><strong>{{ this.filter_title }}</strong>{{ this.filter_description }}</p>
            </div>

            <div class="article-filter-selection center">
                {% for filter, title in bag('article-filters', this.alt).iteritems() %}
                <a href="#filter-{{ filter }}" class="article-filter rounded inline-block black border border-pink bg-grey-light-hover py1 px2" data-article-filter="{{ filter }}">{{ title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

</section>