      <section id="similar-articles" class="article-similar bg-white-dirty clearfix mt4 py4">
        <div class="clearfix">
          <div class="facts-holder mx-auto max-width-4 pt3 pb4">
            <div class="center">
              <h3 class="h3 uppercase px4">{{ bag('i18n', this.alt, 'similar-articles') }}</h3>
            </div>
            <div class="articles mt4">
              <!-- articles go here -->
              <div class="article-item empty col col-4 p2" style="display: none;">
                <div class="box-shadow bg-white p0 article article-small overflow-hidden clearfix">
                  <div class="text col col-12 p2">
                    <aside class="tags mb1"></aside>
                    <h3 class="title h4 p0 m0 bold playfair-bold"></h3>
                    <p class="lead p0"></p>
                    <a href="#" class="learn-more btn-learn-more btn border-me-orange-red border-me-orange-red-hover"></a>
                    <a href="#" class="view-study btn-view-study btn border-green-blue border-green-blue-hover"></a>
                  </div>
                </div>
              </div>
              <div class="article-item empty col col-4 p2" style="display: none;">
                <div class="box-shadow bg-white p0 article article-small overflow-hidden clearfix">
                  <div class="text col col-12 p2">
                    <aside class="tags mb1"></aside>
                    <h3 class="title h4 p0 m0 bold playfair-bold"></h3>
                    <p class="lead p0"></p>
                    <a href="#" class="learn-more btn-learn-more btn border-me-orange-red border-me-orange-red-hover"></a>
                    <a href="#" class="view-study btn-view-study btn border-green-blue border-green-blue-hover"></a>
                  </div>
                </div>
              </div>
              <div class="article-item empty col col-4 p2" style="display: none;">
                <div class="box-shadow bg-white p0 article article-small overflow-hidden clearfix">
                  <div class="text col col-12 p2">
                    <aside class="tags mb1"></aside>
                    <h3 class="title h4 p0 m0 bold playfair-bold"></h3>
                    <p class="lead p0"></p>
                    <a href="#" class="learn-more btn-learn-more btn border-me-orange-red border-me-orange-red-hover"></a>
                    <a href="#" class="view-study btn-view-study btn border-green-blue border-green-blue-hover"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
