{% extends "layout.html" %}

{% set body_class = 'case-study' %}
{% from "articles/_share-block.html" import share_block %}
{% from "articles/_subheader-block.html" import subheader_block %}

{% block body %}

<section id="article-single" class="case-study pb4">
  <div class="max-width-4 mx-auto">

    <div class="clearfix">
      {{ subheader_block(this) }}
    </div>

    <div class="clearfix">
      <header id="article-heading" class="article-title max-width-4 mx-auto my3">
        <h1 class="playfair-heavy h2 black">{{ this.title }}</h1>
      </header>

      <section id="article-lead" class="article-lead clearfix mb3">
        {{ share_block(this) }}
        <p class="lead bold black col col-8 ml3">{{ this.lead_text }}</p>
      </section>

      <section id="main-data" class="main-data clearfix mt1 mb2 flex flex-row flex-stretch justify-around">
        <div class="data-item flex-1 bg-white-dirty mx1 py3 center box-shadow">
          <div class="clearfix">
            <img src="/static/images/icons/icon-people.png" srcset="/static/images/icons/icon-people@2x.png 2x" alt="">
            <h5 class="h5 mb1 black uppercase">{{ bag('i18n', this.alt, 'people') }}</h5>
            <p class="pink"><strong>{{ this.people }}</strong></p>
          </div>
        </div>
        <div class="data-item flex-1 bg-white-dirty mx1 py3 center box-shadow">
          <div class="clearfix">
            <img src="/static/images/icons/icon-money.png" srcset="/static/images/icons/icon-money@2x.png 2x" alt="">
            <h5 class="h5 mb1 black uppercase">{{ bag('i18n', this.alt, 'money') }}</h5>
            <p class="pink"><strong>{{ this.money }}</strong></p>
          </div>
        </div>
        <div class="data-item flex-1 bg-white-dirty mx1 py3 center box-shadow">
          <div class="clearfix">
            <img src="/static/images/icons/icon-time.png" srcset="/static/images/icons/icon-time@2x.png 2x" alt="">
            <h5 class="h5 mb1 black uppercase">{{ bag('i18n', this.alt, 'time') }}</h5>
            <p class="pink"><strong>{{ this.time }}</strong></p>
          </div>
        </div>
      </section>

      <section id="sub-data" class="sub-data clearfix mt1 mb2 py2 flex flex-row flex-stretch justify-around">
        <div class="data-item flex-1 mx1 bg-white-dirty box-shadow">
          <div class="clearfix center p2">
            <h5 class="h6 mb1 black">{{ bag('i18n', this.alt, 'organization') }}</h5>
            <p class="black">{{ this.organization }}</p>
          </div>
        </div>
        <div class="data-item flex-1 mx1 bg-white-dirty box-shadow">
          <div class="clearfix center p2">
            <h5 class="h6 mb1 black">{{ bag('i18n', this.alt, 'country') }}</h5>
            <p class="black">{{ this.country }}</p>
          </div>
        </div>
        <div class="data-item flex-1 mx1 bg-white-dirty box-shadow">
          <div class="clearfix center p2">
            <h5 class="h6 mb1 black">{{ bag('i18n', this.alt, 'location') }}</h5>
            <p class="black">{{ this.location }}</p>
          </div>
        </div>
        <div class="data-item flex-1 mx1 bg-white-dirty box-shadow">
          <div class="clearfix center p2">
            <h5 class="h6 mb1 black">{{ bag('i18n', this.alt, 'protection-level') }}</h5>
            <p class="black">{{ this.level }}</p>
          </div>
        </div>
      </section>

      <section id="data-body" class="data-body clearfix pb4 mb4">
        <div class="data-body-content">
          {{ this.body }}
        </div>
      </section>

      <section id="case-study" class="article-case-study clearfix mb4">
          <div class="mx-auto max-width-2 mt3 mb2 py1 px2 bg-white-dirty box-shadow">
              <h4 class="black h4 center">{{ this.download_title }}</h4>
              <p class="black center px4">{{ this.download_subtitle }}</p>

              <div class="center mb3">
                  <a href="{{ this.download_link|url }}" class="btn bg-si-green bg-si-green-dark-hover white my2">
                      <span class="i-download3 mr1"></span> {{ this.download_cta_button_text }}
                  </a>
              </div>
          </div>
      </section>

      {#
      <section id="case-study" class="article-case-study clearfix mb4">
        <div class="bg-green-light clearfix px4 py4">
          <a href="{{ '.'|url }}" title="Read case study">
            <h3 class="h3 white uppercase col col-8">
              Get more facts and
              details about this story
            </h3>
            <div class="col col-4 center my3">
              <span class="i-download3 white h2"></span>
            </div>
          </a>
        </div>
      </section>
      #}

    </div>
  </div>
</section>

{% endblock %}
