{% extends "layout.html" %}

{% set body_class = 'case-study' %}

{% from "articles/_share-block.html" import share_block %}

{% from "articles/_cta-boxes.html" import cta_wide_download %}
{% from "articles/_cta-boxes.html" import cta_box_download %}

{% block body %}

<section id="article-single" class="case-study pb4">
  <div class="max-width-4 mx-auto">

    <div class="clearfix">
      {% include 'articles/_subheader.html' %}
    </div>

    <div class="clearfix">
      <header id="article-heading" class="article-title max-width-4 mx-auto my3">
        <h1 class="playfair-heavy h2 black">{{ this.title }}</h1>
      </header>

      <section id="article-lead" class="article-lead clearfix mb3">
        {{ share_block(this) }}
        <p class="lead bold black col col-8 ml3">{{ this.lead_text }}</p>
      </section>

      {% include 'articles/_cs_main-highlights.html' %}
      {% include 'articles/_cs_secondary-highlights.html' %}

      <section id="data-body" class="data-body clearfix pb4 mb4">
        <div class="data-body-content">
          {{ this.body }}
        </div>
      </section>

      <section id="case-study" class="article-case-study clearfix mb4">
          {{ cta_box_download(this.download_title, this.download_subtitle, this.download_cta_button_text, (this.download_link|url)) }}
      </section>
    </div>
  </div>
</section>

{% endblock %}
