{% extends "layout.html" %}

{% set body_class = 'article-single' %}
{% set siteRoot = bag('global.targetBaseUrl') %}

{% block body %}

<section id="article-single" class="pb4">
  <div class="max-width-4 mx-auto">

    <div class="clearfix">
      <aside id="meta" class="article-meta small black left p1 mt4 mb0">
          <span class="date mr4">{{ this.date }}</span>
          {% if this.author != "" %}<span class="author">{{ bag('i18n', this.alt, 'author') }}: <span class="author-content">{{ this.author }}</span></span>{% endif %}
      </aside>
      <aside id="tags" class="article-tags small right p1 mt4 mb0">
        {% if this.tag1 != "" %}<span class="label label-tag"><span class="tag border border-pink pink rounded px1">{{ this.tag1 }}</span></span>{% endif %}
        {% if this.tag2 != "" %}<span class="label label-tag"><span class="tag border border-pink pink rounded px1">{{ this.tag2 }}</span></span>{% endif %}
        {% if this.tag3 != "" %}<span class="label label-tag"><span class="tag border border-pink pink rounded px1">{{ this.tag3 }}</span></span>{% endif %}
        {% if this.tag4 != "" %}<span class="label label-tag"><span class="tag border border-pink pink rounded px1">{{ this.tag4 }}</span></span>{% endif %}
      </aside>
    </div>

    <div class="clearfix">
      <header id="article-heading" class="article-title max-width-4 mx-auto my3">
        <h1 class="playfair-heavy h2 black">{{ this.title }}</h1>
      </header>

      <section id="article-lead" class="article-lead clearfix mb3">
        <div class="social grey col col-2 center">
          <div class="uppercase bold center pt2 pb2">{{ bag('i18n', this.alt, 'share-article') }}</div>
          <div class="inline-block mx1">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ siteRoot }}/{{ '.'|url|replace('../', '') }}" target="_blank">
              <span class="social-icon center rounded white bg-grey bg-grey-dark-hover py1 px1 fb">
                <span class="i-facebook"></span></a>
              </span>
            </a>
          </div>
          <div class="inline-block mx1">
            <a href="https://twitter.com/home?status={{ siteRoot }}/{{ '.'|url|replace('../', '') }} @wwfadria" target="_blank">
              <span class="social-icon center rounded white bg-grey bg-grey-dark-hover py1 px1 twitter">
                <span class="i-twitter"></span>
              </span>
            </a>
          </div>
          <div class="inline-block mx1">
            <a href="mailto:put-target-email-address-here?subject={{ this.title }}&body={{ siteRoot }}/{{ '.'|url|replace('../', '') }}" target="_blank">
              <span class="social-icon center rounded white bg-grey bg-grey-dark-hover py1 px1 email">
                <span class="i-mail2"></span>
              </span>
            </a>
          </div>
        </div>
        <p class="lead bold black col col-8 ml3">{{ this.lead_text }}</p>
      </section>

      <section id="article-lead-img" class="article-lead-image clearfix full-width">
        <img src="{{ this.lead_image }}" class="article-image-full" alt="{{ this.lead_image_title }}" title="{{ this.lead_image_title }}">
      </section>

      <section id="article-body" class="article-body clearfix pb4 mb4">
        <div class="article-body-content">
          {{ this.body }}
        </div>
      </section>

      {% if site.get(this.path + '/case-study') %}
      {#
      <section id="case-study" class="article-case-study clearfix mb4">
          <div class="mx-auto max-width-2 mt3 mb2 py1 px2 bg-white-dirty box-shadow">
              <h4 class="black h4 center">{{ this.template_title }}</h4>
              <p class="black center px4">{{ this.template_subtitle }}</p>

              <div class="center mb3">
                  <a href="{{ '.'|url }}case-study" class="btn bg-si-green bg-si-green-dark-hover white my2">
                      <span class="i-arrow-right2 mr1"></span> {{ this.template_cta_button_text }}
                  </a>
              </div>
          </div>
      </section>
      #}

      <section id="case-study" class="article-case-study clearfix mb4">
        <div class="bg-green-light clearfix px4 py4">
          <div class="col col-8">
            <a href="{{ '.'|url }}case-study" title="{{ this.template_cta_button_text }}">
              <h3 class="h3 white uppercase pt0 pb1 my0">
                {{ this.template_title }}
              </h3>
              <p class="h4 white uppercase py0 my0">
                {{ this.template_subtitle }}
              </p>
            </a>
          </div>
          <div class="col col-4 center my3">
            <a href="{{ '.'|url }}case-study" title="{{ this.template_cta_button_text }}">
              <span class="i-arrow-right2 white h2"></span>
            </a>
          </div>
        </div>
      </section>

      {% else %}

      {% set root = site.get('/', this.alt) %}
      <section id="case-study" class="article-case-study clearfix mb4">
        <div class="bg-green-light clearfix px4 py4">
          <div class="col col-8">
            <a href="{{ root.share_link }}" title="{{ root.share_cta_button_text }}">
              <h3 class="h3 white uppercase pt0 pb1 my0">
                {{ root.share_title }}
              </h3>
              <p class="h4 white uppercase py0 my0">
                {{ root.share_description }}
              </p>
            </a>
          </div>
          <div class="col col-4 center my3">
            <a href="{{ root.share_link }}" title="{{ root.share_cta_button_text }}">
              <span class="i-arrow-right2 white h2"></span>
            </a>
          </div>
        </div>
      </section>

      {% endif %}

      {#
      {% if this.children %}
      <section id="article-attachments" class="article-attachments clearfix mb4">
        <div class="clearfix">
          <h3 class="h3 playfair-bold mx-width-4 mx-auto center py2">Attached documents</h3>
          <ul class="attachments-list list-reset clearfix">

            {% for atts in this.children %}
            <li class="attachment-item col col-3 lg-col-3 md-col-3 sm-col-6 mx0 mt0 mb3 p0">
              <h4 class="h4 bold m0">{{ atts.title }}</h4>
              <p class="pr2">{{ atts.description }}</p>
              <div class="meta grey">
                <div class="meta-date">
                  <span class="bold">Date:</span>
                  <span>{{ atts.date }}</span>
                </div>
                <div class="meta-size">
                  <span class="bold">Size:</span>
                  <span>{{ atts.size }}</span>
                </div>
              </div>
              <a href="{{ atts.slug|url }}" class="btn btn-download bg-si-green bg-si-green-dark-hover white my2">
                <span class="i-download3 mr1"></span> Download
              </a>
            </li>
            {% endfor %}

          </ul>
        </div>
      </section>
      {% endif %}
      #}

      {% if this.factsheet %}
      <section id="facts" class="article-facts clearfix my4">
        <div class="clearfix">
          <div class="facts-holder mx-auto max-width-3 bg-grey-light pt3 pb4 px4">
            <div class="center">
              <h3 class="h3 uppercase px4">Get more facts and details about this story</h3>
              <a href="#" class="js-expand-facts">
                <span class="icon i-folder h3 p2 pink pink-hover border boder-pink border-pink-hover border-2x rounded"></span>
              </a>
            </div>
            <div class="hidden factsheet mt4">
              {{ this.factsheet }}
            </div>
          </div>
        </div>
      </section>
      {% endif %}

    </div>
  </div>
</section>

{% endblock %}
