<header id="navbar" class="z1 header {{header_class if header_class else white-background-color}} flex items-center justify-around">
  <a class="navbar-brand" href="{{ '/'|url(alt) }}">
    <span class="icon-logo"></span>
  </a>
  <div class="col-8 mx-auto {{nav_links}}">
    <ul class="menu flex flex-row list-reset justify-around xs-hide sm-hide md-hide ml4">
      <li><a class="flex items-center" href="#">About PA-BAT</a></li>
      <li><a class="flex items-center" href="#">WWF Examples</a></li>
      <li><a class="flex items-center" href="#">Sustainable Business</a></li>
      <li><a class="flex items-center" href="#">Recommendations</a></li>
      <li><a class="flex items-center" href="#">Protected areas</a></li>
    </ul>  
  </div>
  <div id={{nav_id}} class="mr4 lg-hide">
    <ul>
      <li> <a href="#" class="icon-menu-bars"></a>
        <ul>
          <li><a class="flex items-center" href="#">About PA-BAT</a></li>
          <li><a class="flex items-center" href="#">WWF Examples</a></li>
          <li><a class="flex items-center" href="#">Sustainable Business</a></li>
          <li><a class="flex items-center" href="#">Recommendations</a></li>
          <li><a class="flex items-center" href="#">Protected areas</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="local-dropdown">
    <!-- trigger button -->
    <button class="{{select_colors}} center border-none flex flex-column justify-center items-center">
      <span class="mt2">HR</span>
      <i class="icon-arrow-drop-down"></i>
    </button>
    <!-- local-dropdown menu -->
    <ul class="local-dropdown-menu {{select_colors}}">
      <li><a class="{{select_colors}} center" href="{{ '.'|url(alt='hr') }}">HR</a></li>
      <li><a class="{{select_colors}} center" href="{{ '.'|url(alt='en') }}">EN</a></li>
    </ul>
  </div>
</header>
