<header id="navbar" class="header {{header_class if header_class else white-background-color}} flex items-center justify-around">
  <img class="icon-logo" src='/static/images/WWF_logo.svg'/>
  <div class="col-8 mx-auto {{nav_links}}">
    <ul class="menu flex flex-row list-reset justify-around xs-hide sm-hide md-hide ml4">
      <li><a class="flex items-center" href="#">About PA-BAT</a></li>
      <li><a class="flex items-center" href="#">WWF Examples</a></li>
      <li><a class="flex items-center" href="#">Sustainable Business</a></li>
      <li><a class="flex items-center" href="#">Recommendations</a></li>
      <li><a class="flex items-center" href="#">Protected areas</a></li>
      <li><a class="flex items-center" href="#">Knowledge Base</a></li>
    </ul>  
  </div>
  <div id={{nav_id}} class="mr4 lg-hide">
    <ul>
      <li> <a href="#" class="icon-menu-bars"></a>
        <ul>
          <li><a class="flex items-center" href="#">About PA-BAT</a></li>
          <li><a class="flex items-center" href="#">WWF Examples</a></li>
          <li><a class="flex items-center" href="#">Sustainable Business</a></li>
          <li><a class="flex items-center" href="#">Recommendations</a></li>
          <li><a class="flex items-center" href="#">Protected areas</a></li>
          <li><a class="flex items-center" href="#">Knowledge Base</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <label class="select-wrapper relative {{select_colors}}">
    <select id="localization-select" class="flex justify-center items-center border-none {{select_colors}}">
      <option>HR</option>
      <option>EN</option>
    </select>
  </label>
</header>
