{% extends "country_layout.html" %}

{% set header_class                  = 'albanian-background-color-1' %}
{% set select_colors_class           = 'albanian-color-1 albanian-background-color-2' %}
{% set nav_id                        = 'albanian-nav' %}
{% set nav_links_class               = 'nav-links-albanian'%}
{% set country_facts_class           = 'facts-albania' %}
{% set country_cta_image_class       = 'albanian-cta-image' %}
{% set country_banner_image_class    = 'albanian-banner-image' %}
{% set country_border_gradient_class = 'albanian-border-gradient' %}

{% block row_1_col_1 %}
{% endblock %}

{% block row_1_col_2 %}
{% endblock %}

{% block row_2_col_1 %}
{% endblock %}

{% block row_2_col_2 %}
{% endblock %}

{% block row_3_col_1 %}
{% endblock %}

{% block row_3_col_2 %}
{% endblock %}

{% block row_4_col_1 %}
{% endblock %}

{% block row_4_col_2 %}
{% endblock %}
