{% extends "layout.html" %}

{% with header_class="bosnian-background-color-1", select_colors="bosnian-color-1 bosnian-background-color-2", nav_id="bosnian-nav", nav_links="nav-links-bosnian" %}
	{% include "_navigation.html" %}
{% endwith %}

{% block body %}
	{% include "bosnia/_header.html" %}

	<div id="content" class="country-facts facts-bosnia">

		<div class="first-container-background">
			<div class="lg-flex flex-wrap mx-auto lg-col-8 col-12">
				<div class="col-12 lg-col-6">
					{% include "bosnia/_row_1_col_1.html" %}
				</div>
				<div class="col-12 lg-col-6">
					{% include "bosnia/_row_1_col_2.html" %}
				</div>
			</div>
		</div>

		<div class="second-container-background">
			<div class="lg-flex flex-wrap mx-auto lg-col-8 col-12">
				<div class="col-12 lg-col-6">
					{% include "bosnia/_row_2_col_1.html" %}
				</div>
				<div class="col-12 lg-col-6 flex items-center">
					{% include "bosnia/_row_2_col_2.html" %}
				</div>
			</div>
		</div>

		<div class="first-container-background">
			<div class="lg-flex flex-wrap mx-auto md-col-8 col-12">
				<div class="col-12 lg-col-6">
					{% include "bosnia/_row_3_col_1.html" %}
				</div>
				<div class="col-12 lg-col-6">
					{% include "bosnia/_row_3_col_2.html" %}
				</div>
			</div>
		</div>

		<div class="second-container-background">
			<div class="lg-flex flex-wrap mx-auto md-col-8 col-12">
				<div class="col-12 lg-col-6">
					{% include "bosnia/_row_4_col_1.html" %}
				</div>
				<div class="col-12 lg-col-6">
					{% include "bosnia/_row_4_col_2.html" %}
				</div>
			</div>
		</div>
	</div>

	{% with country_cta_image="bosnian-cta-image"  %}
		{% include "_country_cta_footer.html" %}
	{% endwith %}

{% endblock %}
