{% extends "layout.html" %}
{% with header_class="bosnian-background-color-1 bosnian-color-1", select_colors="bosnian-color-1 bosnian-background-color-2", nav_id="bosnian-nav", nav_links="nav-links-bosnian" %}
  {% include "_header.html" %}
{% endwith %}

{% block body %}
<div class="banner bosnian-banner-image flex items-start flex-column justify-center">
  <h1 class="banner-title">Bosnia & Herzegovina</h1>
  <p class="banner-quote mt3">Appropriate management provides a greater appreciation and improved quality of the natural environment, which in turn attracts tourists and ensures jobs.</p>
  <a href="#content" class="block banner-button bosnian-border-gradient flex items-center justify-center mt3">
    <p class="mx3 default-color-1">Find out more</p>
  </a>
</div>
<div id="content" class="lg-flex flex-wrap mx-auto lg-col-8 col-12">
  <div class="col-12 lg-col-6">
    <div class="p4 flex-wrap flex items-center">
      <div class="flex items-center">
        <i class="mr3 icon-tourism country-icon bosnian-color-3"/></i>
        <p class="country-h1 bosnian-color-1">Turizam</p>
      </div>
      <div>
        <p class="my3 country-text">Trenutno je turistički sektor u BiH u početnoj fazi razvoja i prihodi od turizma u BiH su trenutno daleko ispod prosječnih prihoda konkurentnih zemalja. Turistički potencijali Bosne i Hercegovine smatraju se velikom prilikom za obnovu ekonomije u zemlji.</p>

        <a class="my3 bosnian-color-1" href="#">Na koji način riješiti evidentne nedostatke turističke ponude i infrastrukture u zaštićenim područjima?</a>
      </div>
    </div>
  </div>
  <div class="col-12 lg-col-6">
    <div class="p4 flex-wrap flex-column flex items-center justify-center">
      <div class="p4 flex items-center justify-center">
        <div class="donut" id="pie2" data-donut="2"></div>
      </div>
      <p class="capture-color capture">2% udio turizma u BDP-u Bosne i Hercegovine</p>
    </div>
  </div>
</div>
<div class="second-container-background">
  <div class="lg-flex flex-wrap mx-auto lg-col-8 col-12">
    <div class="col-12 lg-col-6">
      <div class="p4 flex-wrap flex items-center">
        <div class="flex items-center">
          <i class="mr3 icon-jobs country-icon bosnian-color-3"></i>
          <p class="country-h1 bosnian-color-1">Poslovi</p>
        </div>
        <div>
          <p class="my3 country-text">BiH je teško pogođena nezaposlenošću (stopa nezaposlenosti iznosi 24,2%) i u tim okvirima ova brojka je  važna. Osim ekonomskih koristi, radna mjesta u ZP-ovima nude i mnoge druge društvene dobrobiti poput prilika za formalno i neformalno obrazovanje lokalnog stanovništva.</p>

          <a class="my3 bosnian-color-1" href="#">Mogućnosti zapošljavanja uveliko ovise o praksi upravljanja. Jesu li zaštićena područja prilagođena modernim pristupima u menadžmentu?</a>
        </div>
      </div>
    </div>
    <div class="col-12 lg-col-6 flex items-center justify-center">
      <div class="p4 flex-wrap flex-column flex items-center justify-center">
        <div class="counter croatian-color-1" id="counter300">300</div>
        <div class="visitor-wrapper">
          <i class="icon-visitors croatian-background-color-3"></i>
        </div>
        <p class="capture-color capture mt3">300 ljudi zaposlenih u zaštićenim područjima (177 ljudi u Republici Srpskoj i 132 u FBiH).</p>
      </div>
    </div>
  </div>
</div>
<div class="lg-flex flex-wrap mx-auto md-col-8 col-12">
  <div class="col-12 lg-col-6">
    <div class="p4 flex-wrap flex items-center">
      <div class="flex items-center">
        <i class="mr3 icon-fresh-water country-icon bosnian-color-3"></i>
        <p class="country-h1 bosnian-color-1">Vodni resursi</p>
      </div>
      <div>
        <p class="my3 country-text">Oko 45% energije proizvedene u BiH nastalo je u hidroelektranama. Svake godine hidroelektrane u BiH prosječno proizvedu energiju u vrijednosti od 350 miliona EUR, a zauzvrat, dobrobiti za lokalnu zajednicu su malobrojne, naročito ako se posmatra dugoročno.</p>

        <a class="my3 bosnian-color-1" href="#">Postoji li dovoljna svijest o uslugama ekosistema koje pružaju vode i močvarna područja?</a>
      </div>
    </div>
  </div>
  <div class="col-12 lg-col-6 flex items-center justify-center">
      <div class="p4 flex-wrap flex-column flex items-center justify-center">
        <div class="chart px-3 py-3" id="chart9200"></div>
        <p class="capture-color capture mt3">Bosna i Hercegovina s više od 9.200 m3 vode po glavi stanovnika najbogatija je zemlja pitkom vodom u regiji i među deset najbogatijih zemalja u Europi</p>
      </div>
    </div>
</div>
<div class="second-container-background">
  <div class="lg-flex flex-wrap mx-auto md-col-8 col-12">
    <div class="col-12 lg-col-6">
      <div class="p4 flex-wrap flex items-center">
        <div class="flex items-center">
          <i class="mr3 icon-forrest country-icon bosnian-color-3"></i>
          <p class="country-h1 bosnian-color-1">Šumarstvo</p>
        </div>
        <div>
          <p class="my3 country-text">Od 2012., WWF, u suradnji sa IKEA-om i kroz certificiranje šuma (FSC), pokušava smanjiti nezakonitu sječu i promovirati odgovoran šumski menadžment kako bi se podržao održivi razvoj u Bosni i Hercegovini.</p>
          <a class="my3 bosnian-color-1" href="#">Gdje leži prilika za ekonomski razvoj u zaštićenim područjima i oko njih?</a>
        </div>
      </div>
    </div>
    <div class="col-12 lg-col-6">
      <div class="p4 flex-wrap flex-column flex items-center justify-center">
        <div class="p4 flex items-center justify-center">
          <div class="donut" id="pie63" data-donut="63"></div>
        </div>
        <p class="capture-color capture">63% površine Bosne i Hercegovine pokriveno je šumom i šumskim zemljištem.</p>
      </div>
    </div>
  </div>
</div>
<div class="cta-image-holder bosnian-cta-image flex items-center justify-center">
  <a href="#" class="block cta-white-button flex items-center justify-center">
    <p class="mx3 default-color-1">Let's solve challenges together</p>
  </a>
</div>
{% endblock %}
