{% extends "layout.html" %}
{% with header_class="croatian-background-color-1", select_colors="croatian-color-1 croatian-background-color-2", nav_id="croatian-nav", nav_links="nav-links-croatian"%}
  {% include "_header.html" %}
{% endwith %}

{% block body %}
<div class="banner croatian-banner-image flex items-start flex-column justify-center">
  <h1 class="banner-title">Croatia</h1>
  <p class="banner-quote mt3">Appropriate management provides a greater appreciation and improved quality of the natural environment, which in turn attracts tourists and ensures jobs.</p>
  <a href="#content" class="block banner-button croatian-border-gradient flex items-center justify-center mt3">
    <p class="mx3 default-color-1">Find out more</p>
  </a>
</div>
<div id="content" class="lg-flex flex-wrap mx-auto lg-col-8 col-12">
  <div class="col-12 lg-col-6">
    <div class="p4 flex-wrap flex items-center justify-center">
      <div class="flex items-center">
        <i class="mr3 icon-tourism country-icon croatian-color-3"/></i>
        <p class="country-h1 croatian-color-1">Broj posjetitelja</p>
      </div>
      <div>
        <p class="my3 country-text">Iako sva zaštićena područja ostvaruju prihode od turizma, u dvije trećine zaštićenih područja turizam je glavni izvor prihoda. Potencijalna je dobrobit lokalnog razvoja u turizmu povezanom sa zaštićenom prirodom.</p>

        <a class="my3 croatian-color-1" href="#">Prepoznaju li druge strategije turizam kao pokretač?</a>
      </div>
    </div>
  </div>
  <div class="col-12 lg-col-6 flex items-center justify-center">
    <div class="p4 flex-wrap flex-column flex items-center justify-center">
      <div class="counter croatian-color-1" id="counter">2590320
      </div>
      <div class="visitor-wrapper">
        <i class="icon-visitors croatian-background-color-3"></i>
      </div>
      <p class="capture-color capture mt3">posjetitelja u zaštićenim područjima u 2012. godini</p>
    </div>
  </div>
</div>
<div class="second-container-background">
  <div class="lg-flex flex-wrap mx-auto lg-col-8 col-12">
    <div class="col-12 lg-col-6">
      <div class="p4 flex-wrap flex items-center">
        <div class="flex items-center">
          <i class="mr3 icon-fresh-water country-icon croatian-color-3"></i>
          <p class="country-h1 croatian-color-1">Prihodi od iskorištavanja voda</p>
        </div>
        <div>
          <p class="my3 country-text">60 milijuna eura godišnji je prihod dviju velikih hidroelektrana koje ovise o vodi s Velebita. 0 eura je njihovo godišnje ulaganje u zaštitu šumskog ekosustava.</p>

          <a class="my3 croatian-color-1" href="#">Kojim strategijama vratiti dio prihoda lokalnoj zajednici?</a>
        </div>
      </div>
    </div>
    <div class="col-12 lg-col-6 flex items-center justify-center">
      <div class="p4 flex-wrap flex-column flex items-center justify-center">
        <div class="chart px-3 py-3" id="chart"></div>
        <p class="capture-color capture mt3">U 14 ZP-a voda je od egzistencijalne važnosti za lokalno stanovništvo; U 7 ZP-a samo javni i poslovni sektor ostvaruju veliku dobit od komercijalnog korištenja vode</p>
      </div>
    </div>
  </div>
</div>
<div class="lg-flex flex-wrap mx-auto md-col-8 col-12">
  <div class="col-12 lg-col-6">
    <div class="p4 flex-wrap flex items-center">
      <div class="flex items-center">
        <i class="mr3 icon-jobs country-icon croatian-color-3"></i>
        <p class="country-h1 croatian-color-1">Radna mjesta u zaštiti prirode</p>
      </div>
      <div>
        <p class="my3 country-text">U nacionalnim parkovima i parkovima prirode zaposleno je tek 1307 osoba, od toga samo 195 u sektoru zaštite prirode.</p>

        <a class="my3 croatian-color-1" href="#">Razumije li Vlada važnost poslova vezanih uz zaštitu prirode i zadržavanje mladih obitelji?</a>
      </div>
    </div>
  </div>
  <div class="col-12 lg-col-6">
    <div class="p4 flex-wrap flex-column flex items-center justify-center">
      <div class="p4 flex items-center justify-center">
        <div class="donut" id="donut39" data-donut="39"></div>
        <p class="country-text">Content: U samo 39% zaštićenih područja radna mjesta povezana sa zaštitom prirode čine glavni izvor prihoda.</p>
      </div>
    </div>
  </div>
</div>
<div class="second-container-background">
  <div class="lg-flex flex-wrap mx-auto md-col-8 col-12">
    <div class="col-12 lg-col-6">
      <div class="p4 flex-wrap flex items-center">
        <div class="flex items-center">
          <i class="mr3 icon-forrest country-icon croatian-color-3"></i>
          <p class="country-h1 croatian-color-1">Šumarstvo: Raspodijela prihoda</p>
        </div>
        <div>
          <p class="my3 country-text">U 2011. godini šumarski sektor napravio je doprinos od 781.7 milijuna USD ili 1.5% BDP-a. Lokalno stanovništvo ostvarilo je dobit od šumarstva u samo jednom od 15 zaštićenih područja.</p>
          <a class="my3 croatian-color-1" href="#">Jesu li lokalne zajednice dovoljno informirane i educirane o održivim poslovnim praksama?</a>
        </div>
      </div>
    </div>
    <div class="col-12 lg-col-6">
      <div class="p4 flex-wrap flex-column flex items-center justify-center">
        <div class="p4 flex items-center justify-center">
          <div class="donut" id="pie25" data-donut="25"></div>
          <p class="country-text">Poslovni sektor ostvaruje značajnu dobit u 3 zaštićena područja, dok lokalno stanovništvo zajedno sa poslovnim sektorom samo u jednom (25%).</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cta-image-holder croatian-cta-image flex items-center justify-center">
  <a href="#" class="block cta-white-button flex items-center justify-center">
    <p class="mx3 default-color-1">Let's solve challenges together</p>
  </a>
</div>
{% endblock %}


