{% extends "layout.html" %}

{% with header_class="croatian-background-color-1", select_colors="croatian-color-1 croatian-background-color-2", nav_id="croatian-nav", nav_links="nav-links-croatian"%}
	{% include "_header.html" %}
{% endwith %}

{% block body %}
	<div class="banner croatian-banner-image flex items-start flex-column justify-center">
		<h1 class="banner-title lg-ml10 mx-auto col-10 lg-col-6">{{ this.h1_title }}</h1>
		<p class="banner-quote mt3 lg-ml10 mx-auto col-10 lg-col-6">{{ this.banner_message }}</p>
		<a href="#content" class="block banner-button croatian-border-gradient flex items-center justify-center mt3 lg-ml10 mx-auto">
			<p class="mx3 default-color-1">{{ this.banner_button_text }}</p>
		</a>
	</div>

	<div id="content" class="country-facts facts-croatia">

		<div class="first-container-background">
			<div class="lg-flex flex-wrap mx-auto lg-col-8 col-12">
				<div class="col-12 lg-col-6">
					{% include "croatia/_row_1_col_1.html" %}
				</div>
				<div class="col-12 lg-col-6 flex items-center justify-center">
					{% include "croatia/_row_1_col_2.html" %}
				</div>
			</div>
		</div>

		<div class="second-container-background">
			<div class="lg-flex flex-wrap mx-auto lg-col-8 col-12">
				<div class="col-12 lg-col-6">
					{% include "croatia/_row_2_col_1.html" %}
				</div>
				<div class="col-12 lg-col-6 flex items-center justify-center">
					{% include "croatia/_row_2_col_2.html" %}
				</div>
			</div>
		</div>

		<div class="first-container-background">
			<div class="lg-flex flex-wrap mx-auto md-col-8 col-12">
				<div class="col-12 lg-col-6">
					{% include "croatia/_row_3_col_1.html" %}
				</div>
				<div class="col-12 lg-col-6">
					{% include "croatia/_row_3_col_2.html" %}
				</div>
			</div>
		</div>

		<div class="second-container-background">
			<div class="lg-flex flex-wrap mx-auto md-col-8 col-12">
				<div class="col-12 lg-col-6">
					{% include "croatia/_row_4_col_1.html" %}
				</div>
				<div class="col-12 lg-col-6">
					{% include "croatia/_row_4_col_2.html" %}
				</div>
			</div>
		</div>
	</div>

	{% with country_cta_image="croatian-cta-image"  %}
		{% include "_country_cta_footer.html" %}
	{% endwith %}

{% endblock %}
