{% extends "layout.html" %}

{% set header_class        = "default-background-color-1 default-color-1" %}
{% set select_colors_class = "default-color-1 default-background-color-2" %}
{% set nav_id              = "default-nav" %}
{% set nav_links_class     = "nav-links-default" %}
{% set banner_image_class  = "sust-business-banner-image" %}
{% set cta_image_class     = "sust-business-cta-image" %}
{% set page_name		   = "factsheet" %}

{% block body %}
  {% include "shared/_short_banner.html" %}

	<p class="background-text xs-hide sm-hide">{{ this.bg_text }}</p>

	<div class="col-12 md-col-9 lg-col-6 mx-auto">
		<h1>{{ this.intro_title }}</h1>

		{{ this.intro_body }}
	</div>

	{% include "shared/_short_cta.html" %}
{% endblock %}
