{% extends "layout.html" %}

{% set page_name           = "forestry" %}
{% set header_class        = "default-background-color-1 default-color-1" %}
{% set select_colors_class = "default-color-1 default-background-color-2" %}
{% set nav_id              = "default-nav" %}
{% set nav_links_class     = "nav-links-default" %}
{% set banner_image_class  = "una-banner-image" %}
{% set cta_image_class     = "una-cta-image" %}

{% import "macros/info_card.html" as cards %}

{% block body %}
	{% include "shared/_short_banner.html" %}

	<p class="background-text xs-hide sm-hide">{{ this.bg_text }}</p>

	<section class="intro col-9 md-col-6 mt4 pt4 mx-auto">
		<h1 class="title h1 bold">{{ this.intro_title }}</h1>
		<div class="body mt2">
			{{ this.intro_body }}
		</div>
	</section>

	<div class="py3 flex justify-center mxn2 flex-wrap max-width-4 mx-auto">
		{{ cards.card_w_img(this.sust_business_1, '/factsheet/hydropower'|url, img_class='urban_park', btn_text=this.learn_more) }}
		{{ cards.card_w_img(this.sust_business_2, '/factsheet/mpa'|url, img_class='local_una', btn_text=this.learn_more) }}
		{{ cards.card_w_img(this.sust_business_3, '/factsheet/forestry'|url, img_class='sutjeska_tourism', btn_text=this.learn_more) }}
		{{ cards.card_w_img(this.sust_business_4, '/factsheet/fishery'|url, img_class='sutjeska_tourism', btn_text=this.learn_more) }}
	</div>

	{% include "shared/_short_cta.html" %}
{% endblock %}
