{% extends "layout.html" %}

{% set header_class        = "default-background-color-1 default-color-1" %}
{% set select_colors_class = "default-color-1 default-background-color-2" %}
{% set nav_id              = "default-nav" %}
{% set nav_links_class     = "nav-links-default" %}

{% import "macros/info_card.html" as cards %}

{% block body %}
	<header class="index-banner flex justify-center items-center flex-column" style="">
		<div class="col-12 md-col-9">
			<h1 class="index-banner-quote center">{{ this.banner_quote }}</h1>
		</div>
		<div class="col-10 md-col-9 lg-col-6 mb3 flex justify-center items-center">
			<div class="landing-page-carousel flex justify-around">
				<ul class="carousel-messages max-width-2">
					<li id="carousel-msg-0" class="carousel-msg show"><p class="default-color-1 center">{{ this.message_0 }}</p></li>
				</ul>
			</div>
		</div>
		<a href="#" class="index-banner-button flex items-center justify-center my3 px3 xs-hide sm-hide">
			<p class="default-color-1">{{ this.scroll_to_map_button_text }}</p>
		</a>

		<div class="map-wrapper">
			{% include "_countries.html" %}
			<div class="big-map-desc">
				<h2 class="country-name ml3">Croatia</h2>
				<p class="country-desc ml3">Appropriate management provides a greater appreciation and improved quality of the natural environment, which in turn attracts tourists and ensures jobs.</p>
				<a href="{{ '/croatia'|url }}" id="country_path" class="learn-more-button about-country m3 flex items-center justify-center">
					<p class="default-color-1">{{ this.more_about}} <span class="more-about-name"><span>Croatia</span></p>
				</a>
				<i class="country-prev icon-navigate_before"></i>
				<i class="country-next icon-navigate_next"></i>
			</div>
			<div class="arrow-austria"></div>
			<div class="arrow-greece"></div>
		</div>
	</header>

	<div class="index-about">
		<p class="background-text default-color-3 sm-hide xs-hide">{{ this.background_text_about }}</p>

		<div class="col-12 md-col-9 lg-col-6 mx-auto my4 p2">
			<p class="index-h2">{{ this.about_headline }}</p>
			<p class="mt3">{{ this.about_body }}</p>
		</div>
	</div>

	<div class="flex justify-center md-hide lg-hide mb2">
	</div>

	<div class="facts-container py3 lg-flex justify-center xl-px10">

		<div class="facts-card lg-col-4 col-10 p3 z1 mx2 my1 flex justify-between flex-column items-center">
			<p class="index-h3">{{ this.facts_card_1_title }}</p>
			<div class="mt4 index-visitor-wrapper">
				<div class="index-counter bosnian-color-1" id="counter">2590320</div>
				<i class="icon-visitors bosnian-background-color-1"></i>
			</div>
			<a href="#" class="facts-button flex items-center justify-center mt3 px3">
				<p class="">{{ this.facts_cta }}</p>
			</a>
		</div>

		<div class="facts-card lg-col-4 col-10 p3 z1 mx2 my1 flex justify-between flex-column items-center">
			<p class="index-h3">{{ this.facts_card_2_title }}</p>
			<div class="p1 mt3 flex items-center justify-center">
				<div class="donut" id="pie77" data-donut="77"></div>
			</div>
			<a href="#" class="facts-button flex items-center justify-center mt3 px3">
				<p class="">{{ this.facts_cta }}</p>
			</a>
		</div>

		<div class="facts-card lg-col-4 col-10 p3 mx2 my1 flex justify-between flex-column items-center">
			<p class="index-h3">{{ this.facts_card_3_title }}</p>
			<div class="chart px3 py3 mt3" style="margin-left: 2.3rem;" id="frewhwater-util-chart"></div>
			<a href="#" class="facts-button flex items-center justify-center mt3 px3">
				<p class="">{{ this.facts_cta }}</p>
			</a>
		</div>

	</div>

	<div class="learn-more-links py3 xl-px10">
		<p class="pt3 background-text xs-hide md-hide default-color-3">{{ this.background_text_learn_more }}</p>

		<div class="cards-container after-txt-bg lg-flex justify-center">
			{{ cards.card_w_img(this.learn_more_title_1, cols=3) }}
			{{ cards.card_w_img(this.learn_more_title_2, cols=3) }}
			{{ cards.card_w_img(this.learn_more_title_3, cols=3) }}
		</div>
	</div>
{% endblock %}
