{% extends "layout.html" %}
{% with header_class="default-background-color-1 default-color-1", select_colors="default-color-1 default-background-color-2", nav_id="default-nav", nav_links="nav-links-default" %}
  {% include "_header.html" %}
{% endwith %}

{% block body %}
<div class="index-banner flex justify-center items-center flex-column" style="">
  <div class="col-12 md-col-6">
    <h1 class="index-banner-quote center">{{ this.banner_quote }}</h1>
  </div>
  <div class="col-10 md-col-8 lg-col-4 mb3 height-carousel sm-min-height-carousel md-min-height-carousel lg-min-height-carousel xl-min-height-carousel flex justify-center items-center">
    <div id="carousel">
      <ul id="carouselNav">
        <li>
          <p class="default-color-1 center">{{ this.message_5 }}</p>
        </li>
      </ul>
    </div>
  </div>
  <a href="#" class="index-banner-button flex items-center justify-center my3 px3">
    <p class="default-color-1">{{ this.scroll_to_map_button_text }}</p>
  </a>

  <ul class="my3 center">
    <li class="my1"><a href="{{ '/croatia'|url(alt) }}">Hrvatska</a></li>
    <li class="my1"><a href="{{ '/bosnia_and_herzegovina'|url(alt) }}">Bosna i Hercegovina</a></li>
    <li class="my1"><a href="{{ '/serbia'|url(alt) }}">Srbija</a></li>
    <li class="my1"><a href="{{ '/slovenia'|url(alt) }}">Slovenija</a></li>
  </ul>
</div>
<div class="flex justify-center py3 sm-hide xs-hide">
  <p class="background-text">{{ this.background_text_about }}</p>
  <div class="col-12 md-col-8 mt8 mb4">
    <p class="index-h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam vero.</p>
    <p class="mt3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="mt2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="flex justify-center md-hide lg-hide mb2">
  <div class="col-10 py3">
    <p class="index-h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam vero.</p>
    <p class="mt3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="mt2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
  </div>
</div>
<div class="facts-container py3 lg-flex justify-center xl-px10">
  <div class="lg-col-3 col-10 mx-auto my1 facts-card flex justify-between flex-column items-center p3">
    <p class="index-h3">{{ this.facts_card_1_title }}</p>
    <div class="mt4 index-visitor-wrapper">
      <div class="index-counter bosnian-color-1" id="counter">2590320
      </div>
      <i class="icon-visitors bosnian-background-color-1"></i>
    </div>
    <a href="#" class="facts-button flex items-center justify-center mt3 px3">
      <p class="">{{ this.facts_cta }}</p>
    </a>
  </div>
  <div class="lg-col-3 col-10 mx-auto my1 facts-card flex justify-between flex-column items-center p3">
    <p class="index-h3">{{ this.facts_card_2_title }}</p>
    <div class="p4 flex items-center justify-center">
      <div class="donut" id="pie77" data-donut="77"></div>
    </div>
    <a href="#" class="facts-button flex items-center justify-center mt3 px3">
      <p class="">{{ this.facts_cta }}</p>
    </a>
  </div>
  <div class="lg-col-3 col-10 mx-auto my1 facts-card flex justify-between flex-column items-center p3">
    <p class="index-h3">{{ this.facts_card_3_title }}</p>
    <div class="chart px-3 py-3 mt3" style="margin-left: 2.3rem;" id="frewhwater-util-chart"></div>
    <a href="#" class="facts-button flex items-center justify-center mt3 px3">
      <p class="">{{ this.facts_cta }}</p>
    </a>
  </div>
</div>
<div class="py3 lg-flex justify-center xl-px10">
  <p class="background-text xs-hide md-hide">{{ this.background_text_learn_more }}</p>
  <div class="lg-col-3 col-10 mt8 z1 mx-auto my1 learn-more-card flex justify-between flex-column items-center">
    <div class="image-holder"></div>
    <p class="index-h3 m3">{{ this.learn_more_title }}</p>
    <a href="#" class="learn-more-button m3 flex items-center justify-center mt3 px4">
      <p class="">{{ this.learn_more_cta }}</p>
    </a>
  </div>
  <div class="lg-col-3 col-10 mt8 z1 mx-auto my1 learn-more-card flex justify-between flex-column items-center">
    <div class="image-holder"></div>
    <p class="index-h3 m3">{{ this.learn_more_title }}</p>
    <a href="#" class="learn-more-button m3 flex items-center justify-center mt3 px4">
      <p class="">{{ this.learn_more_cta }}</p>
    </a>
  </div>
  <div class="lg-col-3 col-10 mt8 z1 mx-auto my1 learn-more-card flex justify-between flex-column items-center">
    <div class="image-holder"></div>
    <p class="index-h3 m3">{{ this.learn_more_title }}</p>
    <a href="#" class="learn-more-button m3 flex items-center justify-center mt3 px4">
      <p class="">{{ this.learn_more_cta }}</p>
    </a>
  </div>
</div>
{% endblock %}
