<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title>{{ this.title|striptags }} — natureforpeople.org</title>

    {% set siteRoot = bag('global.targetBaseUrl') %}
    <!-- OpenGraph data -->
    <meta property="og:title" content="{{ this.title|striptags }} — natureforpeople.org">
    <meta property="og:url" content="{{ siteRoot }}/{{ '.'|url }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% if this.headline is defined %}{{ this.headline }}{% else %}{{ this.lead_text }}{% endif %}">
    <meta property="og:image" content="{{ siteRoot }}{% if this.lead_image is defined %}{{ this.lead_image }}{% else %}{{ '/static/images/vectors/WWF_logo.svg' }}{% endif %}">
    <meta property="og:locale" content="{{ this.alt }}">
    {% for alt in get_alts(this) %}<meta property="og:locale:alternate" content="{{ alt }}">
    {% endfor %}
    {% if this.author is defined %}<meta property="article:author" content="{{ this.author|striptags }}">{% endif %}
    {#<meta property="article:tag" content="{{ this.tag1 }},{{ this.tag2 }},{{ this.tag3 }},{{ this.tag4 }}">#}

    <!-- Twitter Card -->
    <meta property="twitter:title" content="{{ this.title|striptags }} — natureforpeople.org">
    <meta property="twitter:description" content="{% if this.headline is defined %}{{ this.headline }}{% else %}{{ this.lead_text }}{% endif %}">
    <meta property="twitter:image" content="{{ siteRoot }}{% if this.lead_image is defined %}{{ this.lead_image }}{% else %}{{ '/static/images/vectors/WWF_logo.svg' }}{% endif %}">
    <meta property="twitter:url" content="{{ siteRoot }}/{{ '.'|url }}">
    <meta property="twitter:card" content="summary">

    <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
    <link rel="shortcut icon" type="image/png" href="{{ '/static/favicon.png'|asseturl }}"/>

  </head>

  <body class="{{ body_class }}">
    {% include "shared/_navigation.html" %}

    <div class="page {{ page_name }}">
      {% block body %}{% endblock %}
    </div>

    {% include "shared/_global_footer.html" %}

    <script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57753315-10', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
