<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
<title>{% block title %}Welcome{% endblock %} — wwf_pabat_site</title>
<body>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
  </footer>
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>

  <script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>
</body>
