{% extends "country_layout.html" %}

{% set header_class                  = 'macedonian-background-color-1' %}
{% set select_colors_class           = 'macedonian-color-1 macedonian-background-color-2' %}
{% set nav_id                        = 'macedonian-nav' %}
{% set nav_links_class               = 'nav-links-macedonian'%}
{% set country_facts_class           = 'facts-macedonia' %}
{% set country_cta_image_class       = 'macedonian-cta-image' %}
{% set country_banner_image_class    = 'macedonian-banner-image' %}
{% set country_border_gradient_class = 'macedonian-border-gradient' %}

{% block row_1_col_1 %}
{% endblock %}

{% block row_1_col_2 %}
{% endblock %}

{% block row_2_col_1 %}
{% endblock %}

{% block row_2_col_2 %}
{% endblock %}

{% block row_3_col_1 %}
{% endblock %}

{% block row_3_col_2 %}
{% endblock %}

{% block row_4_col_1 %}
{% endblock %}

{% block row_4_col_2 %}
{% endblock %}
