{% extends "country_layout.html" %}

{% set header_class                  = 'montenegran-background-color-1' %}
{% set select_colors_class           = 'montenegran-color-1 montenegran-background-color-2' %}
{% set nav_id                        = 'montenegran-nav' %}
{% set nav_links_class               = 'nav-links-montenegran'%}
{% set country_facts_class           = 'facts-montenegro' %}
{% set country_cta_image_class       = 'montenegran-cta-image' %}
{% set country_banner_image_class    = 'montenegran-banner-image' %}
{% set country_border_gradient_class = 'montenegran-border-gradient' %}

{% block row_1_col_1 %}
{% endblock %}

{% block row_1_col_2 %}
{% endblock %}

{% block row_2_col_1 %}
{% endblock %}

{% block row_2_col_2 %}
{% endblock %}

{% block row_3_col_1 %}
{% endblock %}

{% block row_3_col_2 %}
{% endblock %}

{% block row_4_col_1 %}
{% endblock %}

{% block row_4_col_2 %}
{% endblock %}
