{% extends "layout.html" %}

{% set header_class        = "default-background-color-1 default-color-1" %}
{% set select_colors_class = "default-color-1 default-background-color-2" %}
{% set nav_id              = "default-nav" %}
{% set nav_links_class     = "nav-links-default" %}

{% import "macros/info_card.html" as cards %}

{% block body %}

	<div class="short-banner recommendations-banner-image pt8 flex justify-center items center flex-column">
		<h1 class="banner-title sm-banner-title lg-col-6 col-12 mx-auto center">{{ this.main_headline }}</h1>
		<p class="banner-quote col-6 mx-auto center">{{ this.subheadline }}</p>
	</div>

	<div class="col-12 p2">
		<p class="background-text xs-hide sm-hide">{{ this.background_title }}</p>
		<div class="recommendations md-col-6 col-10 mx-auto">
			<h2 class="title mt8">{{ this.section_1_headline }}</h2>
			<ol class="list">
				<li class="mt3">{{ this.bullet_1 }}</li>
				<li class="mt3">{{ this.bullet_2 }}</li>
				<li class="mt3">{{ this.bullet_3 }}</li>
				<li class="mt3">{{ this.bullet_4 }}</li>
				<li class="mt3">{{ this.bullet_5 }}</li>
				<li class="mt3">{{ this.bullet_6 }}</li>
				<li class="mt3">{{ this.bullet_7 }}</li>
				<li class="mt3">{{ this.bullet_8 }}
					<ul class="ml3">
						<li class="mt3">{{ this.bullet_8_1 }}</li>
						<li class="mt3">{{ this.bullet_8_2 }}</li>
						<li class="mt3">{{ this.bullet_8_3 }}</li>
						<li class="mt3">{{ this.bullet_8_4 }}</li>
						<li class="mt3">{{ this.bullet_8_5 }}</li>
					</ul>
				</li>
			</ol>

			<h2 class="title mt4">{{ this.section_2_headline }}</h2>
			<ol class="list mb4">
				<li class="mt3">{{ this.bullet_9 }}</li>
				<li class="mt3">{{ this.bullet_10 }}
				</li>
				<li class="mt3">{{ this.bullet_11 }}</li>
				<li class="mt3">{{ this.bullet_12 }}</li>
				<li class="mt3">{{ this.bullet_13 }}</li>
				<li class="mt3">{{ this.bullet_14 }}</li>
				<li class="mt3">{{ this.bullet_15 }}</li>
			</ol>
		</div>
	</div>

	<div class="py3 xl-px10 second-container-background">
		<p class="background-text xs-hide md-hide bosnian-color-1">{{ this.learn_more }}</p>

		<div class="cards-container after-txt-bg lg-flex justify-center">
			{{ cards.card_w_img(this.learn_more_button, cols=3) }}
			{{ cards.card_w_img(this.learn_more_button, cols=3) }}
			{{ cards.card_w_img(this.learn_more_button, cols=3) }}
		</div>
	</div>

{% endblock %}
