{% extends "country_layout.html" %}

{% set header_class                  = 'serbian-background-color-1' %}
{% set select_colors_class           = 'serbian-color-1 serbian-background-color-2' %}
{% set nav_id                        = 'serbian-nav' %}
{% set nav_links_class               = 'nav-links-serbian'%}
{% set country_facts_class           = 'facts-serbia' %}
{% set country_cta_image_class       = 'serbian-cta-image' %}
{% set country_banner_image_class    = 'serbian-banner-image' %}
{% set country_border_gradient_class = 'serbian-border-gradient' %}

{% block row_1_col_1 %}
{% endblock %}

{% block row_1_col_2 %}
{% endblock %}

{% block row_2_col_1 %}
{% endblock %}

{% block row_2_col_2 %}
{% endblock %}

{% block row_3_col_1 %}
{% endblock %}

{% block row_3_col_2 %}
{% endblock %}

{% block row_4_col_1 %}
{% endblock %}

{% block row_4_col_2 %}
{% endblock %}
