{% extends "country_layout.html" %}

{% set header_class                  = 'slovenian-background-color-1' %}
{% set select_colors_class           = 'slovenian-color-1 slovenian-background-color-2' %}
{% set nav_id                        = 'slovenian-nav' %}
{% set nav_links_class               = 'nav-links-slovenian'%}
{% set country_facts_class           = 'facts-slovenia' %}
{% set country_cta_image_class       = 'slovenian-cta-image' %}
{% set country_banner_image_class    = 'slovenian-banner-image' %}
{% set country_border_gradient_class = 'slovenian-border-gradient' %}

{% block row_1_col_1 %}
{% endblock %}

{% block row_1_col_2 %}
{% endblock %}

{% block row_2_col_1 %}
{% endblock %}

{% block row_2_col_2 %}
{% endblock %}

{% block row_3_col_1 %}
{% endblock %}

{% block row_3_col_2 %}
{% endblock %}

{% block row_4_col_1 %}
{% endblock %}

{% block row_4_col_2 %}
{% endblock %}
