{% extends "layout.html" %}

{% set page_name           = "stakeholders" %}
{% set header_class        = "default-background-color-1 default-color-1" %}
{% set select_colors_class = "default-color-1 default-background-color-2" %}
{% set nav_id              = "default-nav" %}
{% set nav_links_class     = "nav-links-default" %}
{% set banner_image_class  = "urbanpark-banner-image" %}
{% set cta_image_class     = "urbanpark-cta-image" %}

{% import "macros/info_card.html" as cards %}

{% block body %}
	{% include "shared/_short_banner.html" %}

	<p class="background-text-small xs-hide sm-hide">{{ this.bg_text }}</p>

	<section class="intro col-9 md-col-6 mt4 pt4 mx-auto">
		<h1 class="title h1 bold">{{ this.intro_title }}</h1>
		<div class="body mt2">
			{{ this.intro_body }}
		</div>
	</section>

	<div class="py3 flex justify-center mxn2 flex-wrap max-width-4 mx-auto">
		{{ cards.card_w_img(this.wwf_example_1, '/factsheet/urban_park'|url, img_class='urban_park', btn_text=this.learn_more) }}
		{{ cards.card_w_img(this.wwf_example_2, '/factsheet/local_una'|url, img_class='local_una', btn_text=this.learn_more) }}
		{{ cards.card_w_img(this.wwf_example_3, '/factsheet/sutjeska_tourism'|url, img_class='sutjeska_tourism', btn_text=this.learn_more) }}
		{{ cards.card_w_img(this.wwf_example_4, '/factsheet/tara_bear_watching'|url, img_class='tara_bear_watching', btn_text=this.learn_more) }}
		{{ cards.card_w_img(this.wwf_example_5, '/factsheet/education'|url, img_class='education', btn_text=this.learn_more) }}
		{{ cards.card_w_img(this.wwf_example_6, '/factsheet/stakeholders'|url, img_class='stakeholders', btn_text=this.learn_more) }}
	</div>

	{% include "shared/_short_cta.html" %}
{% endblock %}
