{% extends "layout.html" %}

{% set header_class        = "default-background-color-1 default-color-1" %}
{% set select_colors_class = "default-color-1 default-background-color-2" %}
{% set nav_id              = "default-nav" %}
{% set nav_links_class     = "nav-links-default" %}
{% set banner_image_class  = "sust-business-banner-image" %}
{% set cta_image_class     = "sust-business-cta-image" %}
{% set page_name		   = "protected-areas" %}

{% block body %}
	{% include "shared/_short_banner.html" %}

<section id="sustainable-business-intro" class="relative">
  <h2 class="absolute m0 ml2 playfair-bold h1 lh0 opacity-20 grey sm-hide xs-hide">{{ this.bg_text }}</h2>

  <div class="max-width-4 mx-auto pt4">
    <div class="clearfix">
      <div class="sm-col-12 md-col-8 mx-auto px2 my4">
        <h3 class="h3 bold red">{{ this.intro_title }}</h3>
        <p>{{ this.intro_body }}</p>
      </div>
    </div>
  </div>
</section>

<section id="wwf-examples-facts" class="pb4">
  <div class="max-width-4 mx-auto">
    <div class="clearfix">

      {% for case_study in this.children %}
      <div class="md-col md-col-6 p2">
        <div class="box-shadow center bg-white">
          <div class="card-image {{ case_study.slug }}"></div>
          <div class="px2 pb3">
            <h3 class="h4 bold">{{ case_study.bg_text }}</h3>
            <a href="{{ case_study|url }}" class="btn border-xk-magenta-orange">{{ case_study.learn_more_button }}</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

</section>

	{% include "shared/_short_cta.html" %}
{% endblock %}
