{% extends "layout.html" %}

{% set header_class        = "default-background-color-1 default-color-1" %}
{% set select_colors_class = "default-color-1 default-background-color-2" %}
{% set nav_id              = "default-nav" %}
{% set nav_links_class     = "nav-links-default" %}
{% set banner_image_class  = "sust-business-banner-image" %}
{% set cta_image_class     = "sust-business-cta-image" %}

{% import "macros/info_card.html" as cards %}

{% block body %}
	{% include "shared/_short_banner.html" %}

	<div class="py3 lg-flex justify-center mxn2 flex-wrap max-width-4 mx-auto">
		{{ cards.card_w_img(this.case_study_1, cols=2) }}
		{{ cards.card_w_img(this.case_study_2, cols=2) }}
		{{ cards.card_w_img(this.case_study_3, cols=2) }}
		{{ cards.card_w_img(this.case_study_4, cols=2) }}
	</div>

	{% include "shared/_short_cta.html" %}
{% endblock %}
