{% extends "layout.html" %}

{% block body %}

{% include "shared/_short_banner.html" %}

{% include "shared/_intro.html" %}

<section id="sustainable-business-facts" class="pb4">
  <div class="max-width-4 mx-auto">
    <div class="clearfix">

      {% for case_study in this.parent.children %}
      <div class="md-col md-col-6 p2">
        <div class="box-shadow center bg-white">
          <div class="card-image {{ case_study.slug }}"></div>
          <div class="px2 pb3">
            <h3 class="h4 bold">{{ case_study.bg_text }}</h3>
            <a href="{{ case_study|url }}" class="btn border-xk-magenta-orange">{{ case_study.learn_more_button }}</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

{% include "shared/_short_cta.html" %}
{% endblock %}
