{% extends "layout.html" %}

{% set body_class = 'wwf-examples' %}

{% block body %}

{% include "shared/_short_banner.html" %}

{% include "shared/_intro.html" %}

<section id="wwf-examples-facts" class="pb4">
  <div class="max-width-4 mx-auto">
    <div class="clearfix">

      {% for fact in this.children %}
      <div class="md-col md-col-4 p2">
        <div class="box-shadow center bg-white">
          <a href="{{ fact|url }}" class="card-image {{ fact.slug }}"></a>
          <div class="px2 pb3">
            <h3 class="h4 bold">{{ fact.link_button }}</h3>
            <a href="{{ fact|url }}" class="btn border-me-orange-red">{{ fact.learn_more_button }}</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

{% include "shared/_short_cta.html" %}

{% endblock %}
