{% extends "layout.html" %}

{% set page_name           = "wwf-examples" %}
{% set header_class        = "default-background-color-1 default-color-1" %}
{% set select_colors_class = "default-color-1 default-background-color-2" %}
{% set nav_id              = "default-nav" %}
{% set nav_links_class     = "nav-links-default" %}
{% set banner_image_class  = "examples-banner-image" %}
{% set cta_image_class     = "examples-cta-image" %}

{% block body %}

  {% include "shared/_short_banner.html" %}

<section id="wwf-examples-intro" class="relative">
  <h2 class="absolute m0 ml2 playfair-bold h0 lh0 opacity-20 grey sm-hide xs-hide">{{ this.bg_text }}</h2>

  <div class="max-width-4 mx-auto pt4">
    <div class="clearfix">
      <div class="sm-col-12 md-col-8 mx-auto px2 my4">
        <h3 class="h3 bold red">{{ this.intro_title }}</h3>
        <p>{{ this.intro_body }}</p>
      </div>
    </div>
  </div>
</section>

<section id="wwf-examples-facts" class="pb4">
  <div class="max-width-4 mx-auto">
    <div class="clearfix">

      {% for fact in this.children %}
      <div class="md-col md-col-4 p2">
        <div class="box-shadow center bg-white">
          <div class="card-image {{ fact.slug }}"></div>
          <div class="px2 pb3">
            <h3 class="h4 bold">{{ fact.link_button }}</h3>
            <a href="{{ fact|url }}" class="btn border-me-orange-red">{{ fact.learn_more_button }}</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

	{% include "shared/_short_cta.html" %}
{% endblock %}
