<section class="relative attachments">
  <div class="max-width-4 mx-auto">
    <div class="clearfix">

      {% for attachment in this.attachments %}
      <div class="sm-col sm-col-6 md-col-4 p2">
        <div class="box-shadow bg-white-dirty p3">
          <h4 class="h4 m0">Know Yourself Your Inner Power</h4>
          <div class="grey mt1">
            <div class="inline-block mr1"><span class="bold">Size:</span> 10 MB</div>
          </div>
          <a
            href="javascript://"
            class="block mt2 bg-si-green bg-si-green-dark-hover white bold h6 p2"
          >Download document</a>
        </div>
      </div>
      {% endfor %}

      </div>
    </div>
  </div>
</section>
