{% if this.attachments %}

<section class="relative attachments">
  <div class="max-width-4 mx-auto">
    <div class="clearfix">

      {% for attachment in this.attachments.documents %}
      <div class="sm-col sm-col-6 md-col-3 p1">
        <div class="box-shadow bg-white-dirty p2">
          <h4 class="h5 m0">{{ attachment.title }}</h4>
          <div class="grey mt1">{{ attachment.description }}</div>
          <img src={{ attachment.image|url }} alt={{ attachment.image }} class="image-protected">
          <a
            href="{{ attachment.path }}"
            class="block mt2 bg-si-green bg-si-green-dark-hover white bold h7 p2"
          >Download document</a>
        </div>
      </div>
      {% endfor %}

      </div>
    </div>
  </div>
</section>

{% endif %}
