<section id="{{ this.slug }}-documents" class="relative">
    <div class="max-width-4 mx-auto">
        <div class="clearfix">
            <div class="sm-col-12 md-col-10 mx-auto px2 h5">
                {% if this.documents_title %}
                <h3 class="h3 cc-secondary">{{ this.documents_title }}</h3>
                {% endif %}
                <ul class="list-reset">
                  {% for doc in this.documents %}
                  {% set url, name = doc.split(';;') %}
                    <li>
                        <i class="i-file-text2 mx1 cc-secondary"></i>
                        <a href="{{ url }}" class="cc-secondary">{{ name }}</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
