<footer class="pabat-footer p1">
	<div class="flex justify-center items-end">
		<img class="footer-icon-logo mr4" src='/static/images/WWF_logo.svg'/>
		<div class="flex items-center flex-column justify-end mb2">
			<ul class="flex md-hide xs-hide sm-hide mb2 flex-row list-reset justify-around footer-nav-links">
				<li class="m2"><a class="nav-link" href="{{ '/wwf_examples'|url }}">{{ bag('main-navigation', this.alt, 'link_1') }}</a></li>
				<li class="m2"><a class="nav-link" href="{{ '/sustainable_business'|url }}">{{ bag('main-navigation', this.alt, 'link_2') }}</a></li>
				<li class="m2"><a class="nav-link" href="{{ '/recommendations'|url }}">{{ bag('main-navigation', this.alt, 'link_3') }}</a></li>
				<li class="m2"><a class="nav-link" href="{{ '/protected_areas'|url }}">{{ bag('main-navigation', this.alt, 'link_4') }}</a></li>
			</ul>
			<span class="copyright">&copy 2017 World Wildlife Fund</span>
		</div>
	</div>
</footer>
