<footer id="global-footer" class="bg-black-light py2">
  <div class="max-width-4 mx-auto px2">

      <ul class="list-reset mb0 uppercase bold flex flex-row items-center justify-between md-hide xs-hide sm-hide">
      <li>
        <a href="http://adria.panda.org">
          <img style="width: 5rem; height: 7.5rem" class="footer-icon-logo mr4" src='/static/images/WWF_logo.svg'/>
        </a>
      </li>
      {% for path, label in bag('main-navigation', this.alt).iteritems() %}
      <li>
        <a class="{% if this.path == path %}grey{% else %}grey-dark{% endif %} grey-hover" href="{{ path|url(alt) }}">{{ label }}</a>
      </li>
      {% endfor %}
    </ul>

  </div>

  <div class="grey h7 center">
    <span>&copy 2017 World Wildlife Fund | Contact: </span>
    <a class="grey underline" href="mailto:natureforpeople@wwfadria.org">natureforpeople@wwfadria.org</a>
  </div>
</footer>
