<footer id="global-footer" class="bg-black-light py2">
  <div class="max-width-4 mx-auto px2">

	<div class="grey h7 center">
        <a href="http://adria.panda.org" class="left">
          <img style="width: 5rem; height: 7.5rem" class="footer-icon-logo mr4" src='/static/images/vectors/WWF_logo.svg'/>
        </a>
		<div class="clearfix">
			<p id="disclaimer1" class="left-align">{{ bag('global', this.alt, 'disclaimer1') }}</p>
			<p id="disclaimer2" class="left-align">{{ bag('global', this.alt, 'disclaimer2') }}</p>
			<p class="mt2"><span>&copy 2017 WWF | Contact: </span> <a class="grey underline" href="mailto:natureforpeople@wwfadria.org">natureforpeople@wwfadria.org</a></p>
		</div>
	</div>
  </div>

</footer>
