<header id="global-header" class="global-header uppercase bold fixed top-0 right-0 left-0 box-shadow z3">

  <!-- WWF brand logo -->
  <a class="brand-logo" href="{{ '/'|url(alt) }}">
    <img src="{{ '/static/images/vectors/WWF_logo.svg'|asseturl }}" alt="WWF panda">
  </a>

  <!-- WWF main navigation - Countries dropdown + pages -->
  <nav id="main-nav" class="main-nav px2 max-width-4 mx-auto">
    <ul class="list-reset m0 flex flex-row justify-around xs-hide sm-hide md-hide">
      {#
      <li class="flex-1">

        <!-- Countries dropdown -->
        {% set countries = bag('country-navigation', this.alt).iteritems() %}
        <div id="countries-dropdown" class="nav-dropdown">
          <button class="w100 link-invert pointer border-none px2 flex flex-row justify-center items-center">
            <span class="mr1 uppercase left-align">{{ countries.next()[1] }}</span>
            <i class="i-triangle-down"></i>
          </button>
          <ul class="nav-dropdown-options hidden list-reset m0">
            {% for path, label in countries %}
            <li>
              <a class="link-invert block px2 py1" href="{{ path|url }}">{{ label }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </li>
      #}

      {% for path, label in bag('main-navigation', this.alt).iteritems() %}
      <li class="flex-1 center">
        <a class="link block px3 flex items-center {% if this.path == path %}active{% endif %}" href="{{ path|url(alt) }}">{{ label }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <!-- Mobile navigation -->
  <div id="mobile-nav" class="mobile-nav absolute top-0 right-0 lg-hide">

    <button id="mobile-burger" class="hamburger hamburger--squeeze outline-none bg-grey-dark right" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <!-- languages -->
    <div id="lang-dropdown" class="nav-dropdown right outline-none">
      <button class="link-invert pointer border-none px2 flex flex-column justify-center items-center">
        <span class="uppercase mt1">{{ this.alt }}</span>
        <i class="i-triangle-down" style="margin-top: -0.2em"></i>
      </button>
      <ul class="nav-dropdown-options hidden list-reset m0">
        <li>
          <a class="link-invert block px2 py1" href="{{ '.'|url(alt='hr') }}">HR</a>
        </li>
        <li>
          <a class="link-invert block px2 py1" href="{{ '.'|url(alt='en') }}">EN</a>
        </li>
        <li>
          <a class="link-invert block px2 py1" href="{{ '.'|url(alt='en') }}">AB</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Language dropdown -->
  <div id="lang-dropdown" class="nav-dropdown absolute top-0 right-0 outline-none xs-hide sm-hide md-hide">
    <button class="link-invert pointer border-none px2 flex flex-column justify-center items-center">
      <span class="mt2 uppercase">{{ this.alt }}</span>
      <i class="i-triangle-down"></i>
    </button>
    <ul class="nav-dropdown-options hidden list-reset m0">
      <li>
        <a class="link-invert block px2 py1" href="{{ '.'|url(alt='hr') }}">HR</a>
      </li>
      <li>
        <a class="link-invert block px2 py1" href="{{ '.'|url(alt='en') }}">EN</a>
      </li>
      <li>
        <a class="link-invert block px2 py1" href="{{ '.'|url(alt='ab') }}">AB</a>
      </li>
    </ul>
  </div>

  <div id="mobile-nav-dropdown" class="mobile-nav-dropdown hidden bg-white">
    <ul class="list-reset m0 py3">

      {% for path, label in bag('main-navigation', this.alt).iteritems() %}
      <li>
        <a class="grey-dark black-light-hover center block py2 {% if this.path == path %}active{% endif %}" href="{{ path|url(alt) }}">{{ label }}</a>
      </li>
      {% endfor %}

      <!-- countries -->
      {% set countries = bag('country-navigation', this.alt).iteritems() %}
      <li>
        <div id="select-country" class="grey-dark black-light-hover center block py2 pointer">
          <span>{{ countries.next()[1] }}</span>
          <i class="i-triangle-right"></i>
        </div>
      </li>
      <ul class="mobile-submenu translate100 list-reset m0 py3 bg-white">
        <li>
          <span id="select-country-back" class="pointer grey-dark black-light-hover center block py2">
            <i class="i-triangle-left"></i>
            Back
            </a>
        </li>
        {% for path, label in countries %}
        <li>
          <a class="grey-dark black-light-hover center block py2 {% if this.path == path %}active{% endif %}" href="{{ path|url(alt) }}">{{ label }}</a>
        </li>
        {% endfor %}
      </ul>
    </ul>

  </div>

</header>