<header id="global-header" class="global-header uppercase bold fixed top-0 right-0 left-0 box-shadow z3">

  <!-- WWF brand logo -->
  <a class="brand-logo" href="{{ '/'|url(alt) }}">
    <img src="{{ '/static/images/vectors/WWF_logo.svg'|asseturl }}" alt="WWF panda">
  </a>

  <!-- WWF main navigation - Countries dropdown + pages -->
  <nav id="main-nav" class="main-nav px2 max-width-4 mx-auto">
    <ul class="list-reset m0 flex flex-row justify-around xs-hide sm-hide md-hide">
      <li class="flex-1">

        <!-- Countries dropdown -->
        {% set countries = bag('country-navigation', this.alt).iteritems() %}
        <div id="countries-dropdown" class="nav-dropdown">
          <button class="w100 link-invert pointer border-none px2 flex flex-row justify-center items-center">
            <span class="mr1 uppercase left-align">{{ countries.next()[1] }}</span>
            <i class="icon-triangle-down"></i>
          </button>
          <ul class="nav-dropdown-options hidden list-reset m0">
            {% for path, label in countries %}
            <li>
              <a class="link-invert block px2 py1" href="{{ path|url }}">{{ label }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>

      </li>

      {% for path, label in bag('main-navigation', this.alt).iteritems() %}
      <li class="flex-1">
        <a class="link block px3 flex items-center {% if this.path == path %}active{% endif %}" href="{{ path|url(alt) }}">{{ label }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <!-- Mobile navigation -->
  <div id="mobile-nav" class="nav-dropdown absolute top-0 right-0 lg-hide">
    <button class="link-invert ml-auto pointer border-none px2 flex">
      <span class="icon-three-bars self-center"></span>
    </button>
    <ul class="nav-dropdown-options hidden list-reset m0">
      {% for path, label in bag('main-navigation', this.alt).iteritems() %}
      <li>
        <a class="link-invert block px2 py1 {% if this.path == path %}active{% endif %}" href="{{ path|url(alt) }}">{{ label }}</a>
      </li>
      {% endfor %}

      <!-- countries -->
      {% set countries = bag('country-navigation', this.alt).iteritems() %}
      <li>
        <hr class="link-inverted block px2 py0 m0">
        <span class="hidden">{{ countries.next()[1] }}</span>
      </li>
      {% for path, label in countries %}
      <li>
        <a class="link-invert block px2 py1 {% if this.path == path %}active{% endif %}" href="{{ path|url(alt) }}">{{ label }}</a>
      </li>
      {% endfor %}

      <!-- languages -->
      <li>
        <hr class="link-inverted block px2 py0 m0">
      </li>
        <a class="link-invert block px2 py1 {% if this.alt == 'hr' %}active{% endif %}"  href="{{ '.'|url(alt='hr') }}">Hrvatski</a>
        <a class="link-invert block px2 py1 {% if this.alt == 'en' %}active{% endif %}"  href="{{ '.'|url(alt='en') }}">English</a>
    </ul>
  </div>

  <!-- Language dropdown -->
  <div id="lang-dropdown" class="nav-dropdown absolute top-0 right-0 xs-hide sm-hide md-hide">
    <button class="link-invert pointer border-none px2 flex flex-column justify-center items-center">
      <span class="mt2 uppercase">{{ this.alt }}</span>
      <i class="icon-triangle-down"></i>
    </button>
    <ul class="nav-dropdown-options hidden list-reset m0">
      <li><a class="link-invert block px2 py1" href="{{ '.'|url(alt='hr') }}">HR</a></li>
      <li><a class="link-invert block px2 py1" href="{{ '.'|url(alt='en') }}">EN</a></li>
    </ul>
  </div>
</header>
