<div class="short-banner {{ this.slug }} cover pt8 flex justify-center items flex-column relative">
    <div class="width-4 mx-auto px2">
        <h1 class="h1-5 playfair-heavy white text-shadow ">{{ this.intro_title }}</h1>
    </div>
	{#
    <h1 class="h2 playfair-bold white text-shadow center">{{ this.main_headline }}</h1>
	<p class="h4 white mt1 center">{{ this.subheadline }}</p>
    <h2 class="absolute m0 ml2 playfair-heavy h0 lh1 bottom-0 opacity-30 white sm-hide xs-hide">{{ this.bg_text }}</h2>
    #}
</div>
