<section id="knowledge-base-search" class="relative">
    {#<h2 class="m0 ml2 playfair-heavy h0 lh0 grey-light sm-hide xs-hide">{{ this.backline }}</h2>#}

    <div class="max-width-4 mx-auto">
        <div class="clearfix">
            <div class="sm-col-12 mx-auto px2 mt4">

                <div class="search-holder bg-white-dirty box-shadow p4 mt3">
                    <div class="form-holder flex items-center">
                        <div>
                            <div id="selected-country" data-value="/all" class="country-chooser flex items-center justify-center center pointer inline-block white bg-hr-blue bg-hr-blue-hover btn-blue-hover p2 bold h6">
                                <div>{{ this.select_country }}
                                    <i class="i-triangle-down"></i>
                                </div>
                            </div>
                            <dl id="country-dropdown" class="hidden list-reset bg-grey p0 m0 absolute">
                                <li data-value="/all" class="pointer white bg-grey bg-hr-blue-hover p3">{{ this.all_countries }}</li>
                                {% set countries = bag('countries', this.alt).iteritems() %} {% for path, label in countries %}
                                <li data-value={ { path }} class="pointer white bg-grey bg-hr-blue-hover p3">{{ label }}</li>
                                {% endfor %}
                            </dl>
                        </div>
                        <form id="searchForm" class="flex flex-warp items-center w100">
                            <input name="" type="text" placeholder="{{ this.search_placeholder }}" value="" class="w100 col-10 grey-dark bg-white h5 px2 border-none box-shadow-inner searchForm___input"
                                style="height: 70px" />
                            <input type="submit" class="bg-hr-blue white bold h4 px4 border-none btn-blue-hover pointer" style="height: 70px" value="{{ this.search_button_text }}"
                            />
                        </form>

                    </div>
                    <p class="mt2 bold">
                        {{ this.predefined_search_text }}
                    </p>
                    <div class="search-templates">
                        {% for filter, title in bag('search-presets', this.alt).iteritems() %}
                        <a href="javascript://" onclick="suggestedSearch(this)" class="white bg-grey bg-hr-blue-hover p2 mr1 bold h6">{{ title }}</a>
                        {% endfor %}
                    </div>
                    <div class="mt2">

                    </div>
                </div>
                <div class="right hr-blue h4 mt3 searchForm___total mb3"></div>
                <div class="no-results-block hide center">
                    <h2 class="m0 mt2 ml2 playfair-heavy h1 lh0 grey-light sm-hide xs-hide">{{ this.no_results_header }}</h2>
                    <p class="mt2 ml2">{{ this.no_results_text }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="max-width-4 mx-auto">
        <div class="clearfix searchForm___results">
        </div>
        <div class="searchForm__navigation flex justify-between sm-col-10 mx-auto px2 mb4">
        </div>
    </div>
</section>