<section id="knowledge-base-search" class="relative">
    <h2
        class="m0 ml2 playfair-heavy h0 lh0 grey-light sm-hide xs-hide"
    >{{ this.backline }}</h2>

    <div class="max-width-4 mx-auto">
        <div class="clearfix">
            <div class="sm-col-12 mx-auto px2 mt4">

                <div class="bg-white-dirty box-shadow p4 mt3">
                    <form id="searchForm" class="flex flex-warp items-center">
                        <input
                            name="" type="text" placeholder="Start searching..." value=""
                            class="col-10 grey-dark bg-white h5 px2 border-none box-shadow-inner searchForm___input"
                            style="height: 70px"
                        />
                        <input type="submit"
                            class="bg-hr-blue white bold h4 px4 border-none"
                            style="height: 70px"
                            value="SEARCH"
                        />
                    </form>
                    <p class="mt2">
                        Or try one of these categories
                    </p>
                    <div class="flex justify-start">
                        <a href="javascript://" class="white bg-grey bg-hr-blue-hover p2 mr1 bold h6">sustainable business</a>
                        <a href="javascript://" class="white bg-grey bg-hr-blue-hover p2 mx1 bold h6">tourism</a>
                        <a href="javascript://" class="white bg-grey bg-hr-blue-hover p2 mx1 bold h6">local development</a>
                        <a href="javascript://" class="white bg-grey bg-hr-blue-hover p2 mx1 bold h6">energy</a>
                    </div>
                </div>

                <div class="right hr-blue h4 mt3 searchForm___total">Total 123 search results</div>

            </div>
        </div>
    </div>

    <div class="max-width-4 mx-auto">
        <div class="clearfix searchForm___results">
            <div class="sm-col-10 mx-auto px2 mb4">

                <div>

                    <div class="border-bottom border-grey-light pb3 my2">
                        <h4 class="h4">Know Yourself Your Inner Power</h4>
                        <p>
                            So many of us are demotivated to achieve anything. Such people are not enthusiastic about anything. They don’t want to work towards any goal. Nothing motivates them to work. Why is it so? Why many of us are not motivated? What is wrong?
                        </p>
                        <div class="py1 grey">
                            <div class="inline-block mr1"><span class="bold">Author:</span> Austin Wright</div>
                            <div class="inline-block mr1"><span class="bold">Date:</span> July 17th, 2017</div>
                            <div class="inline-block mr1"><span class="bold">Category:</span> Sustainable business</div>
                            <div class="inline-block mr1"><span class="bold">Size:</span> 10 MB</div>
                        </div>

                        <a href="javascript://"
                           class="inline-block mt2 bg-si-green bg-si-green-dark-hover white bold h6 p2"
                        >Download document</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
